header {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 111;
  width: 100%;
  background-color: #ffffff;
  ul {
    list-style: none;
    li {
      float: left;
    }
  }
  .notification {
    margin-right: 20px;
    a {
      position: relative;
      &:after {
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $redColor;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
  .user-account {
    img {
      border-radius: 50%;
      width: 28px;
      height: 28px;
    }
    .dropdown-toggle {
      &:after {
        display: none;
      }
    }
  }
}

.side-by-side-field {
  input {
    width: 60% !important;
    float: left;
  }
  .page-select {
    display: inline-block !important;
    width: 70px;
    >a {
      padding: 10px 20px 6px 0 !important;
    }
  }
}
.plus-icon {
  width: 50px !important;
  margin-bottom: 10px;
  margin-left: 20px;
}
.delete-icon {
  width: 30px !important;
  margin-bottom: 10px;
  margin-left: 30px;
}

.side-bar {
  background-color: #F9F9F9;
  width: 192px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 105px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 32px;
    li {
      margin-bottom: 20px;
      .accordion-item {
        border: none;
        background-color: transparent;
        img {
          height: 17px;
        }
        ul {
          padding-left: 20px;
          padding-top: 0;
          li {
            margin-bottom: 0;
            margin-top: 8px;
            padding-left: 7px;
            a {
              color: #8D8D8D;
              font-weight: 400;
              font-size: 12px;
              line-height: 18px;
            }
          }
        }
      }
      a {
        font-size: 14px;
        line-height: 21px;
        color: $darkGrey !important;
        text-decoration: none;
        font-weight: 500;
        padding: 0;
        background-color: transparent !important;
        border: none;
        box-shadow: none !important;
        display: inline-flex;
        align-items: center;
        &:after {
          display: none;
        }
        img {
          margin-right: 10px;
          width: 14px;
          height: 14px;
          &:nth-child(2) {
            display: none;
          }
        }
        &.active {
          color: $redColor !important;
          img {
            &:first-child {
              display: none;
            }
            &:nth-child(2) {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

@keyframes fade {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

.edit-user-popup {
  .select-selected {
    color: #464646;
  }
  .add-user-upload {
    label {
      right: 78px !important;
      img {
        border-radius: 0 !important;
      }
    }
  }
}

.f-block-temp {
  .f-block-2 {
    max-height: 100% !important;
    height: 750px !important;
  }
}

.dropdown-select {
  &.sidebar-select {
    position: relative;
    text-align: left;
    >a {
      width: 100%;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0.014em;
      color: #BBBBBB;
      display: block;
      padding: 8px 20px 4px 0 !important;
      cursor: pointer;
      user-select: none;
      border: none;
      border-bottom: 1px solid #ccc;
      border-radius: 0;
      &:hover {
        background-color: transparent;
      }
      &:after {
        position: absolute;
        content: "";
        top: 17px;
        right: 10px;
        width: 12px;
        height: 8px;
        background-image: url(../img/down-arrow.svg);
        border: none !important;
      }
    }
    .dropdown-toggle.show {
      &:after {
        transform: rotate(180deg);
      }
    }
    .dropdown-menu {
      width: 100%;
    }
  }
  &.table-filter {
    position: relative;
    top: -3px;
    >a {
      border: none;
      background: none;
      font-size: 12px;
      line-height: 158%;
      text-align: center;
      letter-spacing: 0.014em;
      color: #949494;
      font-weight: bold;
      padding: 0 20px 0 0;
      cursor: pointer;
      user-select: none;
      position: relative;
      top: -1px;
      &:after {
        position: absolute;
        content: "";
        top: 7px;
        right: 4px;
        background-image: url(../img/down-icon-grey.svg);
        width: 7px;
        height: 4px;
        background-position: center;
        border: none !important;
      }
      &.show {
        &:after {
          transform: rotate(180deg);
        }
      }
    }
  }
  &.page-select {
    position: relative;
    text-align: left;
    >a {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.024em;
      color: #C4C4C4;
      padding: 8px 20px 8px 0;
      cursor: pointer;
      user-select: none;
      border: none;
      border-bottom: 1px solid #ccc;
      width: 100%;
      display: block;
      &:hover {
        background-color: transparent;
      }
      &:after {
        position: absolute;
        content: "";
        top: 17px;
        right: 10px;
        width: 12px;
        height: 8px;
        background-image: url(../img/down-arrow.svg);
        border: none !important;
      }
    }
    .dropdown-toggle.show {
      &:after {
        transform: rotate(180deg);
      }
    }
    .dropdown-menu {
      width: 100%;
    }
  }
  .dropdown-menu {
    ul {
      max-height: 200px;
      overflow-y: auto !important;
      overflow: hidden;
      list-style: none;
      padding-left: 0;
      margin-top: 16px;
    }
  }
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #e9ecef !important;
  color: #464646 !important;
}

.add-user-popup, .add-role-popup, .edit-user-popup, .edit-role-popup {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 111;
  display: none;
  &.active-user-popup {
    display: block;
    opacity: 1;
    animation: fade 250ms linear;
    .active-add-user-blk {
      right: 0 !important;
    }
  }

  .add-user-blk {
    width: 480px;
    right: -480px;
    transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    background-color: #fff;
    position: absolute;
    top: 0;
    padding: 23px 32px 100px;
    text-align: center;
    height: 100vh;
    overflow: auto;
    >a.close-popup {
      position: absolute;
      right: 29.6px;
      top: 20px;
      display: block;
      width: 40px;
      height: 40px;
      padding-top: 7px;
      &:hover {
        background: #F6E9EA;
        border-radius: 12px;
      }
    }
    h1 {
      text-align: left;
      margin-bottom: 20px;
    }
    label {
      font-weight: 600;
      font-size: 13px;
      line-height: 19px;
      letter-spacing: 0.035em;
      color: #717171;
      text-align: left;
      display: block;
      margin-bottom: 5px;
      text-transform: uppercase;
      span {
        font-weight: 500;
        font-size: 12px;
        line-height: 158%;
        letter-spacing: 0.014em;
        color: #949494;
        position: absolute;
        right: 30px;
      }
    }
    input {
      border: none;
      border-bottom: 1px solid #cccccc;
      width: 100%;
      height: 35px;
      font-weight: 600;
      font-size: 16px;
      line-height: 158%;
      letter-spacing: 0.014em;
      color: #464646;
      &:focus {
        border-color: $redColor !important;
      }
      &.has-val {
        border-color: #ACACAC !important;
      }
    }
    textarea {
      border-radius: 4px;
      border: 1px solid #cccccc;
      width: 100%;
      min-height: 80px;
      text-indent: 5px;
      font-weight: 500;
      font-size: 14px;
      line-height: 158%;
      letter-spacing: 0.014em;
      color: #464646;
      padding: 10px;
      &:focus {
        border-color: $redColor !important;
        outline: none;
      }
      &.has-val {
        border-color: #ACACAC !important;
      }
    }
    select {
      border: none;
      border-bottom: 1px solid #cccccc;
      width: 100%;
      height: 45px;
    }
    .form-field {
      margin-bottom: 39px;
    }
    .radio-row {
      h3 {
        color: #666464;
        text-transform: none;
        margin-bottom: 15px;
      }
      .accordion-button {
        color: $darkGrey;
        &:after {
          display: none;
        }
        &:hover, &:active, &:focus, &:not(.collapsed) {
          outline: none;
          box-shadow: none;
          background-color: transparent;
          color: $darkGrey;
        }
      }
      .accordion-header {
        .row {
          align-items: center;
          .form-field {
            margin-bottom: 0;
          }
        }
      }
      .accordion-item {
        background: #FFFFFF;
        box-shadow: 0px 1px 7px rgba(0,0,0,0.12);
        border-radius: 4px;
        border: none;
        margin-bottom: 20px;
      }
      .accordion-body {
        padding: 0;
        .row {
          align-items: center;
          position: relative;
          &:last-child {
            &:after {
              display: none;
            }
          }
          &:after {
            content: '';
            border-bottom: 1px solid #ccc;
            position: absolute;
            border-bottom: 1px solid #ccc;
            left: 47px;
            right: 47px;
            bottom: 0;
          }
          .form-field {
            margin-bottom: 0;
          }
        }
        .accordion-header {
          //border-bottom: 1px solid #cccccc;
        }
      }
      .accordion-button {
        padding-right: 0;
        font-size: 13px;
        line-height: 158%;
        font-weight: 600;
        letter-spacing: 0.014em;
        color: #464646;
        padding-left: 35px;
        cursor: text;
      }
    }
    .form-field-phone {
      .custom-select {
        width: 24%;
        float: left;
        &.disabled {
          pointer-events: none;
          width: 8%;
          .select-selected {
            color: #464646;
            border-bottom: 1px solid #ccc;
            padding-bottom: 6.5px;
            &:after {
              display: none;
            }
          }
        }
      }
      input {
        width: 92%;
        margin-left: 0%;
        margin-top: 0.5px;
      }
      .placeholder-val {
        line-height: 125%;
      }
    }
    .textarea-field {
      label {
        span {
          text-transform: none;
        }
      }
    }
    .submit-row {
      position: fixed;
      bottom: 0;
      box-shadow: 0px -1px 14px rgba(172, 172, 172, 0.25);
      background-color: #fff;
      width: 480px;
      right: -480px;
      transition: 0.5s all ease-in-out;
      -webkit-transition: 0.5s all ease-in-out;
      -moz-transition: 0.5s all ease-in-out;
      .form-field {
        margin-bottom: 0;
        padding: 20px;
        overflow: hidden;
        a {
          &:first-child {
            float: left;
          }
          &:last-child {
            float: right;
          }
        }
      }
    }
  }

  .permission-accordion {
    .accordion-collapse {
      display: none;
    }
    .accordion-button {
      padding-left: 16px !important;
    }
  }

  .add-user-upload {
    position: relative;
    margin: 23px 0 21px;
    img {
      border-radius: 20px;
    }
    label {
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 0.014em;
      color: $redColor;
      position: absolute;
      right: 52px;
      bottom: 0;
      cursor: pointer;
      text-transform: none;
    }
    input {
      display: none;
    }
  }
  //.row-2 {
  //  overflow: hidden;
  //  >div {
  //    width: 48%;
  //    float: left;
  //    &:last-child {
  //      margin-left: 20px;
  //    }
  //  }
  //}
}

.multi-select {
  position: relative;
  padding: 0 !important;
  border: none !important;
  &:after {
    top: 19px !important;
  }
  span {
    color: #464646 !important;
  }
  button {
    width: 100%;
    text-align: left;
    font-size: 13px !important;
    padding: 0 !important;
    border-bottom: 1px solid #ccc;
    &:hover, &:focus, &:active {
      box-shadow: none;
    }
    &.focused-btn {
      border-bottom: 1px solid $redColor !important;
    }
    input {
      border: none !important;
      width: 200px;
    }
    .selected-list {
      background: #FFFFFF;
      border: 1px solid #9E1C2C;
      border-radius: 30px;
      display: inline-block;
      padding: 1px 10px;
      letter-spacing: 0.014em;
      color: #9E1C2C !important;
      font-size: 10px;
      margin-right: 5px;
      margin-bottom: 5px;
    }
  }
  .drop-show {
    position: absolute;
    width: 100%;
    top: 104%;
    left: 0;
    right: 0;
    z-index: 99;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    overflow: auto;
    height: 200px;
    label {
      padding: 16px 20px;
      cursor: pointer;
      user-select: none;
      border: none;
      border-bottom: 1px solid #e7e7e7;
      width: 100%;
      font-size: 14px;
      line-height: 158%;
      letter-spacing: 0.014em;
      color: #464646;
      display: flex;
      align-items: center;
      &.active {
        background-color: #f2f2f2;
      }
      input {
        display: none;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.pm-section {
  h1 {
    a {
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 0.014em;
      color: $redColor;
      text-transform: none;
      float: right;
    }
  }
  .accordion-item {
    .radiobutton {
      margin-top: 35px;
      label {
        color: #949494;
        span {
          position: absolute;
          top: -20px;
          left: 50%;
          transform: translate(-50%, 0);
          -webkit-transform: translate(-50%, 0);
          -moz-transform: translate(-50%, 0);
        }
      }
    }
    .customer-radio {
      .radiobutton {
        margin-top: 0;
        label {
          span {
            position: static;
            transform: none;
            margin-right: 4px;
          }
        }
      }
    }
  }
  .modal {
    .radiobutton {
      margin-right: 15px;
      label {
        color: #949494;
        font-weight: 500;
        span {
          margin-right: 5px;
        }
      }
    }
    input {
      font-weight: 400 !important;
    }
  }
  .submit-row {
    .dropdown {
      >a {
        &:after {
          display: none;
        }
      }
    }
  }
  .header-row {
    .row-2 {
      background: #FFFFFF;
      box-shadow: 0px 1px 7px rgba(172, 172, 172, 0.25);
      border-radius: 12px;
      align-items: center;
      padding: 26px;
      margin: 0;
      .col-md-4, .col {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      h2 {
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        display: flex;
        align-items: center;
        letter-spacing: 0.024em;
        color: #717171;
        margin-bottom: 0;
      }
      p {
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        display: flex;
        align-items: center;
        letter-spacing: 0.024em;
        margin-bottom: 0;
      }
      img {
        float: left;
        margin-right: 20px;
      }
      .progress-r {
        float: left;
        margin-right: 20px;
        width: 51px;
        height: 51px;
        position: relative;
        img {
          margin: 0;
          float: none;
        }
        svg {
          position: absolute;
          top: 7px;
          left: 8px;
          transform: rotate(-90deg);
          circle {
            stroke: $yellowColor;
            stroke-width: 4px;
          }
        }
      }
      .d-blk {
        display: table;
      }
    }
  }
  .body-row {
    .row-head {
      h4 {
        font-weight: 400;
      }
    }
    .row-2 {
      background: #FFFFFF;
      box-shadow: 0px 1px 7px rgba(172, 172, 172, 0.25);
      border-radius: 12px;
      align-items: center;
      padding: 30px 26px 20px;
      margin: 0;
      .row-3 {
        margin-top: 25px;
        h4 {
          margin-bottom: 0;
          color: #949494;
          span {
            font-weight: 600;
            font-size: 10px;
            line-height: 15px;
            color: #464646;
            background: #E2E2E2;
            border-radius: 24.527px;
            display: inline-block;
            padding: 1px 10px;
            margin-left: 10px;
            position: relative;
            top: 4px;
          }
        }
      }
    }
    .body-text-4 {
      color: #717171;
      span {
        color: #464646;
      }
    }
  }
  textarea {
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 12px;
    line-height: 158%;
    min-height: 80px;
    text-indent: 5px;
  }
  .f-block {
    h6 {
      font-size: 13px;
      line-height: 20px;
      font-weight: 600;
      letter-spacing: 0.035em;
    }
    .f-block-2 {
      h3 {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.06em;
        color: #464646;
      }
      h2 {
        font-weight: 500;
        font-size: 22px;
        line-height: 158%;
        letter-spacing: 0.014em;
        color: #464646;
      }
    }
  }
  .f-block {
    .accordion-item {
      background-color: #fff;
    }
  }
  .left-label {
    h6 {
      top: 20px;
      left: -30px;
    }
  }
  .right-align-value {
    p {
      text-align: right !important;
    }
  }
  .action-blk {
    display: table;
    float: right;
    >a {
      font-size: 14px;
      line-height: 21px;
      &:first-child {
        margin-right: 20px;
        padding-left: 20px;
        &:after {
          width: 14px;
          height: 14px;
        }
      }
      &:last-child {
        padding-left: 12px;
        &:after {
          width: 11px;
          height: 14px;
        }
      }
    }
  }
  .cpq-blk {
    background-color: #f9f9f9;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 30px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    .kv-left-right {
      h6 {
        margin-top: -1px;
      }
    }
    p {
      font-size: 12px;
      line-height: 158%;
      letter-spacing: 0.014em;
      color: #464646;
    }
    .left-label {
      h6 {
        position: static;
      }
    }
  }
  .modal {
    .modal-content {
      border: 4px solid #f9f9f9;
      border-radius: 8px;
      padding-top: 20px;
    }
    .modal-footer {
      border: none;
      justify-content: flex-start;
      padding: 0 12px 20px;
    }
  }
}

.tab-blk {
  .nav-tabs {
    justify-content: center;
  }
  .nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.024em;
    color: #000;
    margin-bottom: 0 !important;
    border: none !important;
    position: relative;
    width: 50%;
    &:hover {
      color: #000 !important;
    }
    &.active {
      color: $redColor !important;
      &:after {
        content: '';
        position: absolute;
        height: 2px;
        width: 70px;
        background-color: $redColor;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
      }
    }
  }
}

.gallery-blk {
  h2 {
    margin-top: 20px;
    margin-bottom: 0;
    a {
      font-weight: 400;
      font-size: 12px;
      line-height: 158%;
      letter-spacing: 0.014em;
      color: #9E1C2C;
      float: right;
      margin-top: 2px;
    }
  }
  h6 {
    color: #717171;
  }
  .modal-content {
    border-radius: 24px !important;
  }
  .modal-header {
    border-bottom: none;
    .btn-close {
      opacity: 1;
      background-image: url("../img/close.svg");
    }
  }
  .image-blk {
    img {
      width: 100%;
      border-radius: 8px;
      cursor: pointer;
    }
  }
  .cat-list {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      text-align: center;
      a {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.011em;
        color: #464646;
        &.active-item {
          color: $redColor;
        }
      }
    }
  }
  #carousel-cat {
    button {
      width: auto;
      opacity: 1;
    }
  }
  #carousel-gallery {
    max-width: 950px;
    margin: 0 auto;
    .carousel-item {
      img {
        width: 800px;
        margin: 0 auto;
        display: table;
        border-radius: 25px;
      }
      p {
        font-weight: 600;
        font-size: 16px;
        line-height: 158%;
        letter-spacing: 0.014em;
        color: #464646;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 0;
        span {
          color: $darkGreyTwo;
          font-weight: 400;
        }
      }
      h2 {
        font-weight: 500;
        font-size: 22px;
        line-height: 158%;
        text-align: center;
        letter-spacing: 0.014em;
        color: #464646;
        margin-top: 10px;
      }
    }
    button {
      width: auto;
      opacity: 1;
      svg {

      }
    }
  }
  .l-c-detail {
    .accordion-item {
      background-color: #FFFFFF;
    }
  }
}
.number-field {
  width: 80px;
  height: 27px;
  position: relative;
  span, button {
    font-weight: 600;
    font-size: 12px;
    line-height: 158%;
    letter-spacing: 0.014em;
    color: #464646;
  }
  span {
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
    position: absolute;
    top: 0;
    left: 21px;
    height: 100%;
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  button {
    border: 1px solid #E7E7E7;
    box-shadow: none;
    color: $redColor;
    background-color: transparent;
    position: absolute;
    top: 0;
    height: 100%;
    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      left: 0;
    }
    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      right: 0;
    }
  }
}

.range-slider {
  .range-slider-blk {
    position: relative;
    display: inline-block;
    margin-top: 5px;
    width: 100%;
  }
  .left-val {
    font-weight: 500;
    font-size: 10px;
    line-height: 158%;
    letter-spacing: 0.014em;
    color: #717171 !important;
    position: absolute;
    left: 0;
    bottom: -15px;
  }
  .right-val {
    font-weight: 500;
    font-size: 10px;
    line-height: 158%;
    letter-spacing: 0.014em;
    color: #717171 !important;
    position: absolute;
    right: 0;
    bottom: -15px;
  }
}

.communication-address {
  .form-field {
    margin-bottom: 0 !important;
  }
}
.old-home-checkbox {
  label {
    font-size: 13px;
    line-height: 20px;
    color: #717171;
  }
}
.user-name {
  font-weight: 600;
  font-size: 22px;
  line-height: 158%;
  text-align: center;
  letter-spacing: 0.014em;
  text-transform: uppercase;
  color: #9E1C2C;
  border-radius: 50px;
  border: 2px solid $redColor;
  width: 70px;
  height: 70px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  position: relative;
  &.active {
    background-color: #F0D2D2;
  }
  &:hover {
    .user-tooltip-blk {
      display: block;
    }
  }
  .user-tooltip-blk {
    padding: 15px 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 180px;
    position: absolute;
    top: 106%;
    z-index: 11;
    display: none;
    p {
      font-weight: 400;
      font-size: 10px;
      line-height: 15px;
      letter-spacing: 0.024em;
      color: #464646;
      margin: 0;
    }
    h4 {
      color: #191C1F;
      margin-bottom: 0;
    }
    a {
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.024em;
      color: #717171;
    }
  }
}

.form-field-radio {
  >input {
    display: none;
  }
  label {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #A1555F;
    position: relative;
    cursor: pointer;
    margin: 0 auto;
    display: inline-flex;
    align-items: center;
    span {
      margin-left: 17px;
    }
  }
  .form-field-radio-active {
    font-weight: 600;
    &:after {
      content: '';
      width: 8px;
      height: 8px;
      background-color: #A1555F;
      position: absolute;
      border-radius: 50%;
      top: 2px;
      left: 2px;
    }
  }
}

.add-role-popup, .edit-role-popup {
  .add-user-blk {
    width: 720px;
    right: -720px;
    .submit-row {
      width: 720px;
      right: -720px;
    }
  }
}

.c-o-p, .relationship-page {
  .l-c-block {
    overflow: auto;
  }
  .f-block-1 {
    h1 {
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        display: inline-block;
      }
    }
  }
  .f-block-2 {
    .form-field {
      margin-bottom: 36px;
      span {
        color: $redColor;
      }
    }
    form {
      position: relative;
    }
    input {
      border: none;
      border-bottom: 1px solid #cccccc;
      width: 100%;
      height: 35px;
      font-weight: 600;
      font-size: 12px;
      line-height: 158%;
      letter-spacing: 0.014em;
      color: #464646;
      &:focus {
        border-color: $redColor !important;
      }
      &.has-val {
        border-color: #ACACAC !important;
      }
    }
    ::-webkit-input-placeholder { /* Edge */
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.014em;
      color: #C4C4C4;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.014em;
      color: #C4C4C4;
    }

    ::placeholder {
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.014em;
      color: #C4C4C4;
    }

  }
}


.breadcrum-blk {
  //background-image: url("../img/design1.svg");
  height: 149px;
  background-size: cover;
  position: relative;
  margin-bottom: 50px;
  .lower-div {
    position: absolute;
    bottom: 35px;
    h4 {
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: -0.011em;
      color: #464646;
      opacity: 0.88;
      margin-bottom: 0;
    }
    p {
      font-weight: 500;
      font-size: 10px;
      line-height: 158%;
      letter-spacing: 0.014em;
      color: #949494;
      opacity: 0.88;
      margin-bottom: 0;
    }
  }
  .upper-ul, .lower-ul, .middle-ul, .lower-ul-2 {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #F1F1F1;
    display: table;

    li {
      float: left;
      font-weight: 500;
      font-size: 10px;
      line-height: 158%;
      margin-right: 10px;
      position: relative;
      padding: 6px 7px 0 7px;
      height: 27px;
      position: relative;
      left: -8px;
      &:last-child {
        &:after {
          display: none;
        }
      }
      &:after {
        content: '';
        padding: 3px 15px 3px 0;
        display: block;
        height: 29px;
        background-image: url(../img/design2.svg);
        background-repeat: no-repeat;
        background-size: 14px;
        background-position: 100% 0;
        position: absolute;
        top: -2px;
        right: -10px;
      }
      &:first-child {
        left: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      &.active {
        color: #9E1C2C;
        //background-color: #F1F1F1;
        border: 1px solid $redColor;
        border-right: none;
        padding: 4px 10px 0 10px;
        border-left: none;
        &:first-child {
          border-left: 1px solid $redColor;
        }
        span {
          //padding: 3px 15px 3px 0;
          //display: block;
          //height: 24px;
          //background-image: url(../img/design3.svg);
          //background-repeat: no-repeat;
          //background-size: 12px;
          //background-position: 94% -2px;
        }
        //padding: 3px 5px 3px 7px;
        &:before {
          //border-left: 13px solid $redColor;
        }
        &:after {
          //border-left: 11px solid #fff;
        }
        &:before {
          content: '';
          padding: 3px 15px 3px 0;
          display: block;
          height: 32px;
          background-image: url(../img/design3.svg);
          background-repeat: no-repeat;
          background-size: 13px;
          background-position: 94% 0;
          position: absolute;
          top: -2px;
          right: -8px;
          z-index: 111;
        }
        &:after {
          content: '';
          padding: 3px 15px 3px 0;
          display: block;
          height: 29px;
          background-image: url(../img/design2.svg);
          background-repeat: no-repeat;
          background-size: 14px;
          background-position: 100% 0;
          position: absolute;
          top: -3px;
          right: -11px;
        }
      }
      &.active-solid {
        background-color: #A1555F;
        color: #FFFFFF;
        border-color: #A1555F;
        &:before {
          background-image: url("../img/design7.svg");
          background-size: cover;
          background-position: 0 -4px;
        }
      }
    }
  }
  .design-4 {
    left: 40%;
    top: 0;
    position: absolute;
    background-color: #FFFFFF;
    img {
      &:first-child {
        width: 100px;
      }
      &:last-child {
        position: absolute;
        right: 3px;
        bottom: -4px;
        width: 95px;
        z-index: 1;
      }
    }
  }
  >img {
    position: absolute;
    &.design-5 {
      width: 113px;
      left: 63%;
      bottom: -1px;
    }
  }
  .upper-ul {
    width: 40%;
  }
  .lower-ul {
    width: 40%;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .lower-ul-2 {
    width: 13%;
    position: absolute;
    left: 50%;
    bottom: 1px;
  }
  .middle-ul {
    position: absolute;
    left: 50%;
    bottom: 50%;
    width: 50%;
    transform: translate(0, 50%);
    -webkit-transform: translate(0, 50%);
    -moz-transform: translate(0, 50%);
    padding-left: 30px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    li {
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
}

.create-opportunity-page, .relationship-page {
  .row-1 {
    padding-bottom: 16px;
    .col-md-4 {
      width: 31.333333%;
    }
    .col-md-6 {
      width: 52%;
    }
  }
  .main-section {
    .center-container {
      padding-left: 96px;
      padding-right: 32px;
    }
  }
  .side-bar {
    width: 64px;
    overflow: hidden;
    transition: 0.25s all ease-in-out;
    -webkit-transition: 0.25s all ease-in-out;
    -moz-transition: 0.25s all ease-in-out;
    background: #FFFFFF;
    box-shadow: 4px 0 4px rgba(0, 0, 0, 0.05);
    z-index: 11;
    &:hover {
      width: 192px;
      ul {
        padding-left: 32px;
        li {
          a {
            img {
              margin-right: 10px;
            }
          }
          ul {
            li {
              padding-left: 7px;
            }
          }
        }
      }
    }
    ul {
      padding-left: 23px;
      transition: 0.25s all ease-in-out;
      -webkit-transition: 0.25s all ease-in-out;
      -moz-transition: 0.25s all ease-in-out;
      li {
        a {
          img {
            margin-right: 30px;
            transition: 0.25s all ease-in-out;
            -webkit-transition: 0.25s all ease-in-out;
            -moz-transition: 0.25s all ease-in-out;
          }
        }
        ul {
          li {
            padding-left: 30px;
            transition: 0.25s all ease-in-out;
            -webkit-transition: 0.25s all ease-in-out;
            -moz-transition: 0.25s all ease-in-out;
            a {
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
  .user-detail {
    background: #FFFFFF;
    box-shadow: 0 2px 14px rgba(172, 172, 172, 0.25);
    border-radius: 24px;
    padding: 28px;
    height: 140px;
    >a {
      float: left;
      display: inline-block;
      margin-right: 30px;
      margin-top: 4px;
    }
    >div {
      display: table;
      a {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.024em;
        color: #717171;
        margin-bottom: 5px;
        display: inherit;
        &.email {
          span {
            text-decoration: underline;
          }
        }
        img {
          margin-right: 10px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}


.relationship-page {
  .f-block {
    padding-top: 0;
    .f-block-2 {
      max-height: 90%;
      padding-top: 24px;
      .accordion-item {
        margin-bottom: 20px;
        .accordion-button {
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
      h2 {
        margin-bottom: 0;
      }
      .accordion-collapse {
        background: #fff;
        border: 1px solid #F9F9F9;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }
  }
}

.l-c-block {
  background: #FFFFFF;
  box-shadow: 0 2px 14px rgba(172, 172, 172, 0.25);
  border-radius: 24px;
  margin: 16px 0;
  overflow: hidden !important;
  .lc-blk {
    padding: 16px 32px 32px 32px;
    margin-top: 20px;
    overflow: auto;
  }
}

.l-c-detail {
  box-shadow: none !important;
}

.l-c-detail, .f-block {
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 2px 14px rgba(172, 172, 172, 0.25);
  margin: 16px 0;
  h6 {
    font-size: 12px;
    line-height: 158%;
    letter-spacing: 0.014em;
    color: #717171;
    margin-bottom: 0;
  }
  p {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.024em;
    color: #464646;
    margin-bottom: 20px;
  }
  .accordion-button, h2 {
    background-color: transparent !important;
    box-shadow: none;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #191C1F !important;
    box-shadow: none !important;
    &:focus {
      outline: none !important;
      box-shadow: none !important;
    }
    &:after {
      background-image: url("../img/down-arrow.svg") !important;
      background-position: center !important;
      width: 15px;
      height: 15px;
      background-size: contain;
    }
  }
  .accordion-item {
    border: none;
    background-color: #F9F9F9;
    border-radius: 8px !important;
    padding-bottom: 1px;
    margin-bottom: 15px;
    .accordion-collapse {
      background-color: #fff;
      margin: 5px;
    }
    .accordion-body {
      padding: 16px 10px;
    }
  }
}

.accordion-r {
  .accordion-header {

  }
  .accordion-button {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #191C1F;
    p {
      margin-bottom: 0 !important;
    }
  }
  .completed-blk {
    position: absolute;
    width: 100px;
    height: 4px;
    margin-left: 25px;
    top: 30px;
    right: 55px;
    >span {
      display: block;
      &:first-child {
        background: #E7E7E7;
        border-radius: 4px;
        width: 100px;
        height: 4px;
        span {
          display: block;
          background-color: #A1555F;
          border-radius: 4px;
          width: 4px;
          height: 4px;
        }
      }
      &:nth-child(2){
        position: absolute;
        font-weight: 600;
        font-size: 8px;
        line-height: 158%;
        letter-spacing: 0.014em;
        color: #000000;
        top: -12px;
        left: 0;
      }
      &:last-child {
        position: absolute;
        font-weight: 400;
        font-size: 8px;
        line-height: 158%;
        letter-spacing: 0.014em;
        color: #000000;
        top: -12px;
        left: 50%;
        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
      }
    }
  }
  .date-blk {
    position: relative;
    top: 10px;
    margin-left: 15px;
    p {
      font-weight: 500;
      font-size: 10px;
      line-height: 158%;
      letter-spacing: 0.014em;
      color: #ACACAC;
      span {
        color: #464646;
      }
    }
  }
}
.f-block-col {
  margin-bottom: 16px;
}
.two-fields {
  width: 100px !important;
}
.left-label {
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}
.f-block {
  margin-top: 0;
  padding: 28px 0;
  height: 100%;
  position: relative;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
  h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 156%;
    color: #949494;
    text-transform: none;
    display: table;
    margin: 0 auto;
    strong {
      color: #464646;
    }
    img {
      width: 41px;
      margin-right: 20px;
    }
  }
  .f-block-1 {
    border-bottom: 4px solid #E7E7E7;
    padding: 10px 28px 42px;
  }
  .f-block-2 {
    padding: 28px 28px 0;
    max-height: 80%;
    overflow: auto;
    >h4 {
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: -0.011em;
      color: #464646;
      opacity: 0.88;
      margin-bottom: 0;
    }
    >p {
      font-weight: 500;
      font-size: 10px;
      line-height: 158%;
      letter-spacing: 0.014em;
      color: #949494;
      opacity: 0.88;
      margin-bottom: 10px;
    }
    h6 {
      span {
        color: $redColor;
      }
    }
    h2 {
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #464646 !important;
      margin-bottom: 20px;
      a {
        float: right;
        text-transform: none;
      }
    }
    h3 {
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #464646 !important;
      font-weight: 400;
      margin-bottom: 20px;
    }
    .form-field-radio {
      display: inline-flex;
      align-items: center;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: -0.011em;
      color: #464646;
      margin-right: 10px;
      margin-top: 10px;
      label {
        margin-right: 20px;
      }
    }
    .select-selected {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.024em;
      color: #C4C4C4;
      margin-bottom: 20px;
      &:after {
        top: 15px;
      }
    }
    .submit-row {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 20px 28px;
      margin: 0;
      background: #FFFFFF;
      box-shadow: 0 -1px 14px rgba(172, 172, 172, 0.25);
      border-radius: 0 0 24px 24px;
      z-index: 1;
      h4 {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.014em;
        color: #9E1C2C;
        display: flex;
        align-items: center;
        margin: 12px 0 0;
        img {
          margin-right: 6px;
        }
      }
      .col-md-8 {
        text-align: right;
        a {
          text-align: center;
          &:last-child {
            margin-left: 20px;
          }
        }
      }
    }
  }
}

.t-block {
  .t-block-1 {
    background: #FFFFFF;
    box-shadow: 0 2px 14px rgba(172, 172, 172, 0.25);
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;
    margin-bottom: 16px;
    p {
      margin: 0;
      font-weight: 600;
      font-size: 14px;
      line-height: 158%;
      letter-spacing: 0.014em;
      color: #717171;
    }
  }
  .t-block-2 {
    position: relative;
    margin-bottom: 15px;
    border-radius: 24px;
    .t-block-2-1 {
      overflow: auto;
      padding-bottom: 120px;
      padding-top: 40px;
      background: #FFFFFF;
      box-shadow: 0 2px 14px rgba(172, 172, 172, 0.25);
      border-radius: 24px;
      height: 300px;
    }
    .nav-tabs {
      border: none;
      justify-content: center;
      border-bottom: 2px solid #F7F7F7;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #fff;
      width: 100%;
      z-index: 11;
      button {
        border: none;
        background: transparent;
        font-weight: normal;
        font-size: 14px;
        line-height: 158%;
        letter-spacing: 0.014em;
        color: #000000;
        position: relative;
        &.active {
          color: #9E1C2C;
          &:after {
            content: '';
            height: 2px;
            width: 40%;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 0);
            -webkit-transform: translate(-50%, 0);
            -moz-transform: translate(-50%, 0);
            background-color: #9E1C2C;
          }
        }
      }
    }
    .n-list {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        border-bottom: 2px solid #F7F7F7;
        padding: 21px 24px 5px;
        h5 {
          font-weight: bold;
          font-size: 12px;
          line-height: 158%;
          letter-spacing: 0.014em;
          color: #717171;
          margin-bottom: 0;
          position: relative;
          a {
            position: absolute;
            top: 4px;
          }
          .eye {
            right: 20px;
          }
          .delete {
            right: 0;
          }
        }
        h6 {
          font-weight: 500;
          font-size: 10px;
          line-height: 158%;
          letter-spacing: 0.014em;
          color: #717171;
        }
        p {
          font-weight: normal;
          font-size: 12px;
          line-height: 158%;
          letter-spacing: 0.014em;
          color: #464646;
        }
      }
    }
    .submit-row {
      position: absolute;
      bottom: -12px;
      left: 0;
      right: 0;
      padding: 11px 10px;
      margin: 0;
      background: #FFFFFF;
      box-shadow: 0 -1px 14px rgba(172, 172, 172, 0.25);
      border-radius: 0 0 24px 24px;
      div[contenteditable] {
        position: relative;
        &:before {
          content: 'Type comment';
          position: absolute;
          top: 5px;
          left: 5px;
          color: #C4C4C4;
        }
        &.active-edit {
          &:before {
            display: none;
          }
        }
        min-height: 27px;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 4px;
        width: 100%;
        margin-bottom: 10px;
        padding: 5px;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.014em;
        color: #464646;
        &:focus {
          border-color: $redColor;
          outline: none;
          box-shadow: none;
        }
      }
      input {
        height: 27px;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 4px;
        width: 100%;
        margin-bottom: 10px;
        text-indent: 5px;
        padding-bottom: 4px;
      }
      ::-webkit-input-placeholder { /* Edge */
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.014em;
        color: #C4C4C4;
      }

      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.014em;
        color: #C4C4C4;
      }

      ::placeholder {
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.014em;
        color: #C4C4C4;
      }
      a {
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.011em;
        color: #9E1C2C;
        &:last-child {
          float: right;
        }
      }
    }
  }
}

.add-opportunity-btn {
  position: relative;
  bottom: 12px;
}

.main-section {
  .center-container {
    padding: 100px 48px 0 241px;
  }
  .dataTables_wrapper {
    margin-top: 58px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    background: #FFFFFF;
    box-shadow: 0 4px 14px rgba(172, 172, 172,0.25);
    border-radius: 24px;
    .dataTables_paginate {
      position: absolute;
      left: 50%;
      bottom: 20px;
      transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      -moz-transform: translate(-50%, 0);
      .paginate_button {
        padding: 0 !important;
        border: none !important;
        background: transparent !important;
        color: #635959 !important;
        font-weight: normal;
        font-size: 12px;
        line-height: 158%;
        letter-spacing: 0.014em;
        &.current {
          color: #635959 !important;
          font-weight: 700;
        }
        &:hover {
          color: #635959 !important;
        }
        &:active {
          box-shadow: none;
        }
        &.previous {
          background-image: url("../img/left-arrow.svg") !important;
          height: 11px;
          width: 4px;
          background-position: center !important;
          background-repeat: no-repeat !important;
          position: relative;
          top: 2px;
        }
        &.next {
          background-image: url("../img/right-arrow.svg") !important;
          height: 11px;
          width: 4px;
          background-position: center !important;
          background-repeat: no-repeat !important;
          position: relative;
          top: 2px;
        }
      }
    }
    .due-in {
      span {
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.011em;
        display: inline-block;
        padding: 2px 5px;
        border-radius: 4px;
        &.yellow {
          color: #EBA945;
          border: 1px solid #EBA945;
        }
        &.grey {
          color: #ACACAC;
          border: 1px solid #ACACAC;
        }
        &.red {
          color: #EB4545;
          border: 1px solid #EB4545;
        }
      }
    }
    .customer {
      strong {
        font-weight: 600;
        font-size: 14px;
        line-height: 158%;
        letter-spacing: 0.014em;
        color: #464646;
        display: block;
      }
      span {
        font-weight: 500;
        font-size: 10px;
        line-height: 158%;
        letter-spacing: 0.014em;
        color: #949494;
      }
    }
    .last-updated {
      h3 {
        margin-bottom: 0;
        span {
          float: right;
        }
      }
      >span {
        font-weight: 500;
        font-size: 10px;
        line-height: 158%;
        letter-spacing: 0.014em;
        color: #949494;
      }
    }
    .dataTables_info {
      position: absolute;
      right: 20px;
      bottom: 20px;
      font-weight: normal;
      font-size: 12px;
      line-height: 158%;
      letter-spacing: 0.014em;
      color: #635959;
    }
    .dataTables_length {
      position: absolute;
      left: 20px;
      bottom: 20px;
      .select-selected {
        position: absolute;
        left: 90px;
        width: 50px;
        bottom: 0;
        border: none;
        background: none;
        font-size: 12px;
        line-height: 158%;
        text-align: center;
        letter-spacing: 0.014em;
        color: #635959;
        font-weight: bold;
        padding: 0 20px 0 0;
        &:after {
          top: 7px;
          right: 4px;
          background-image: url("../img/down-icon-dark-grey.svg");
          width: 7px;
          height: 4px;
          background-position: center;
        }
      }
      .select-items {
        width: 200px;
        top: auto;
        bottom: 30px;
      }
      select {
        border: none;
      }
      label {
        font-weight: normal;
        font-size: 12px;
        line-height: 158%;
        letter-spacing: 0.014em;
        color: #635959;
      }
    }
    thead input {
      width: 100%;
    }

    table {
      tr {
        th {
          &.unselected:first-child {
            &:after {
              display: none !important;
            }
            &:before {
              content: "-";
              color: #fff;
              display: flex !important;
              align-items: center;
              justify-content: center;
              font-size: 30px;
              line-height: 0;
              padding-bottom: 4px;
            }
          }
          &.select-checkbox.selected::after {
            content: "✓";
            font-size: 20px;
            margin-top: -19px;
            margin-left: -6px;
            text-align: center;
            text-shadow: 1px 1px #b0bed9, -1px -1px #b0bed9, 1px -1px #b0bed9, -1px 1px #b0bed9;
            top: 55% !important;
            display: block;
            position: absolute;
            left: 50%;
            width: 12px;
            height: 12px;
            box-sizing: border-box;
          }
          &.select-checkbox:before {
            content: '';
            display: block !important;
            border: 2px solid #A1555F !important;
            width: 14px !important;
            height: 14px !important;
          }
          &:first-child {
            position: relative;
            &:before {
              content: " ";
              margin-top: -6px;
              margin-left: -6px;
              border: 1px solid black;
              border-radius: 3px;
              display: block;
              position: absolute;
              top: 50%;
              left: 50%;
              width: 12px;
              height: 12px;
              box-sizing: border-box;
            }
          }
        }
      }
    }

    table {
      border-bottom: none !important;
      margin-bottom: 16px !important;
      tbody {
        tr {
          &:hover {
            td {
              background-color: #F9F9F9 !important;
            }
          }
        }
      }
      tr {
        //background-color: #FFFFFF !important;
        height: 72px;
        .select-checkbox {
          width: 15px;
          input {
            display: none;
          }
          span {
            display: block;
            width: 14px;
            height: 14px;
            position: absolute;
            top: 50% !important;
            left: 50%;
            margin-top: -6px;
            margin-left: -6px;
            z-index: 111;
          }
        }
        &:last-child {
          td {
            border-bottom: 2px solid #F7F7F7 !important;
          }
        }
        &.selected {
          .select-checkbox {
            &:after {
              display: none;
            }
          }
        }
        .selected {
          &.select-checkbox {
            &:before {
              background-color: #A1555F;
            }
            &:after {
              display: block;
              content: '';
              background-image: url("../img/checkbox-icon.svg");
              margin-top: -6px;
              margin-left: -5px;
              background-repeat: no-repeat;
              background-size: 12px;
            }
          }
        }
        td {
          font-weight: normal;
          font-size: 14px;
          line-height: 158%;
          letter-spacing: 0.014em;
          color: #464646;
          padding-left: 18px;
          border-top: 2px solid #F7F7F7 !important;
          background-color: #FFFFFF !important;
          &.select-checkbox {
            &:before {
              top: 50% !important;
              border: 2px solid #A1555F !important;
              width: 14px !important;
              height: 14px !important;
            }
            &:after {
              top: 55% !important;
            }
          }
          .name-td {
            font-weight: 600;
            display: flex;
            align-items: center;
            img {
              margin-right: 10px;
              width: 24px;
              height: 24px;
              border-radius: 50%;
            }
          }
          strong {
            font-weight: 600;
          }
          &.action-td {
            width: 100px;
            text-align: right;
            .dropdown {
              display: inline-block;
              margin-right: 20px;
            }
            .dropdown-toggle {
              width: 32px;
              height: 32px;
              text-align: center;
              padding-top: 4px;
              display: inline-block;
              &:hover {
                background: #F6E9EA;
                border-radius: 8px;
              }
              &:after {
                display: none;
              }
            }
            >a {
              display: inline-block;
              &:first-child {
                margin-right: 10px;
              }
            }
          }
        }
        th {
          font-weight: normal !important;
          font-size: 14px;
          line-height: 21px;
          letter-spacing: 0.035em;
          text-transform: uppercase;
          color: #464646;
          border-bottom: none !important;
          background-position: -2px;
          input {
            width: auto;
          }
          &.selected.select-checkbox {
            &:before {
              background-color: #A1555F;
            }
            &:after {
              content: '';
              background-image: url("../img/checkbox-icon.svg");
              margin-top: -6px;
              margin-left: -5px;
              background-repeat: no-repeat;
              background-size: 12px;
            }
          }
          &:before {
            display: none !important;
          }
          &.sorting_asc {
            background-image: url('../img/up-arrow-sharp.svg') !important;
          }
          &.sorting_desc {
            background-image: url('../img/down-arrow-sharp.svg') !important;
          }
          &.sorting {
            background-image: none;
            &:hover {
              background-image: url('../img/up-arrow-sharp-grey.svg');
            }
          }
        }
      }
    }
    .dataTables_filter {
      margin-bottom: 20px;
      position: absolute;
      top: -62px;
      right: 355px;
      input {
        background-color: #F1F1F1 !important;
        border-radius: 50px !important;
        border: none !important;
        padding: 0;
        width: 219px;
        height: 36px;
        text-indent: 15px;
        background-image: url("../img/search.svg");
        background-repeat: no-repeat;
        background-size: 12px;
        background-position: 93% 50%;
        font-weight: 600;
        font-size: 16px;
        line-height: 158%;
        letter-spacing: 0.014em;
        color: #464646;
      }

      ::-webkit-input-placeholder { /* Edge */
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #B3B2B2;
      }

      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #B3B2B2;
      }

      ::placeholder {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #B3B2B2;
      }
    }
  }

  .data-table-filters {
    .filter-blk {
      display: inline-flex;
      padding-top: 13px;
      h3 {
        display: inline-block;
        float: left;
        margin-bottom: 0;
        text-transform: none;
        font-size: 12px;
        line-height: 158%;
        font-weight: normal;
        text-align: center;
        letter-spacing: 0.014em;
        color: #949494;
        margin-right: 15px;
      }
      .select-selected {
        border: none;
        background: none;
        font-size: 12px;
        line-height: 158%;
        text-align: center;
        letter-spacing: 0.014em;
        color: #949494;
        font-weight: bold;
        padding: 0 20px 0 0;
        &:after {
          top: 7px;
          right: 4px;
          background-image: url("../img/down-icon-grey.svg");
          width: 7px;
          height: 4px;
          background-position: center;
        }
      }
      .select-items {
        width: 200px;
      }
    }
    >ul {
      list-style: none;
      margin: 0;
      padding: 0;
      &:last-child {
        float: right;
        text-align: right;
        li {
          margin-right: 22px;
        }
      }
      li {
        float: left;
        margin-right: 38px;
        &:last-child {
          margin-right: 0;
        }
        .secondary-btn-icon {
          &:after {
            background: none !important;
            height: auto;
            width: auto;
            position: static;
            margin-left: 5px;
          }
        }
      }
    }
  }
}

#confirm-modal {
  .modal-content {
    background: #FFFFFF;
    box-shadow: 0 2px 14px rgba(172, 172, 172, 0.25);
    border-radius: 24px;
    overflow: hidden;
  }
  .btn-close {
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 1;
    background: none;
    display: block;
    width: 25px;
    height: 25px;
    padding-top: 7px;
    &:hover {
      background: #F6E9EA;
      border-radius: 12px;
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  .confirm-blk {
    text-align: center;
    max-width: 350px;
    margin: 30px auto 0;
    h2 {
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #191C1F;
      margin: 2px 0;
    }
    p {
      font-size: 12px;
      line-height: 158%;
      text-align: center;
      letter-spacing: 0.014em;
      color: #717171;
    }
  }
  .modal-footer {
    background: #FFFFFF;
    box-shadow: 0px -1px 14px rgba(172, 172, 172, 0.25);
    justify-content: center;
    border: none;
    padding: 20px 0;
    button {
      margin: 0 10px;
    }
  }
}

.datepicker {
  padding: 15px !important;
  td, th {
    padding: 5px !important;
  }
  td {
    &.day:hover, &.day:focus {
      background: $redColor !important;
      color: #fff !important;
    }
    &.day.active {
      background: $redColor !important;
    }
  }
}
.time-form-field {
  position: relative;
  input {
    width: 36px;
    border: none;
    border-bottom: 1px solid #cccccc;
    height: 35px;
    border-radius: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.024em;
    color: #464646;
    padding: 0;
    &:focus {
      border-color: $redColor !important;
      outline: none;
      box-shadow: none;
    }
    &.has-val {
      border-color: #ACACAC !important;
    }
  }
  ::-webkit-input-placeholder { /* Edge */
    color: #C4C4C4;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #C4C4C4;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }

  ::placeholder {
    color: #C4C4C4;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }
  >div {
    position: absolute;
    left: 48px;
    top: 25px;
    display: flex;
    a {
      font-weight: 500;
      font-size: 10px;
      line-height: 158%;
      letter-spacing: 0.014em;
      color: #9E1C2C;
      border: 1px solid #9E1C2C;
      display: inline-block;
      padding: 3px;
      &.active {
        background-color: $redColor;
        color: #fff;
      }
      &:first-child {
        border-radius: 4px 0 0 4px;
      }
      &:last-child {
        border-radius: 0 4px 4px 0;
      }
    }
  }
}
.input-group-calender {
  width: 160px;
  position: relative;
  .input-group-addon {
    position: absolute;
    z-index: 11;
    border: none;
    background-color: transparent;
    top: 5px;
    right: 0;
  }
  button {
    &:focus {
      box-shadow: none;
    }
  }
  .btn-light {
    font-size: 12px;
    line-height: 18px;
    color: #717171;
    border-radius: 50%;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    &:hover {
      border: 1px solid $redColor;
    }
    &.text-muted.outside {
      color: #C4C4C4;
    }
    &.bg-primary {
      border: 1px solid $redColor;
      background-color: $redColor !important;
    }
  }
  .dropdown-menu {
    box-shadow: 0px 4px 20px rgba(172, 172, 172, 0.5);
    border-radius: 16px !important;
    padding: 15px !important;
    left: 35px !important;
    .ngb-dp-weekdays {
      border: none !important;
      background-color: transparent !important;
    }
    .ngb-dp-header {
      background-color: transparent !important;
    }
    .ngb-dp-weekday {
      font-size: 14px;
      line-height: 21px;
      color: #464646;
      font-style: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .ngb-dp-navigation-chevron {
      color: $redColor;
      font-size: 10px;
    }
    .ngb-dp-navigation-select {
      .form-select {
        border-color: $redColor;
        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }
  input {
    border: none;
    border-bottom: 1px solid #cccccc;
    width: 100%;
    height: 35px;
    border-radius: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.024em;
    color: #464646;
    padding: 0;
    &:focus {
      border-color: $redColor !important;
      outline: none;
      box-shadow: none;
    }
    &.has-val {
      border-color: #ACACAC !important;
    }
  }
  ::-webkit-input-placeholder { /* Edge */
    color: #C4C4C4;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #C4C4C4;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }

  ::placeholder {
    color: #C4C4C4;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }
}
.relationship-table-col {
  .dataTables_wrapper {
    .dataTables_filter {
      right: 0 !important;
    }
  }
}
#schedule-modal {
  h2 {
    font-weight: 500;
    font-size: 22px;
    line-height: 158%;
    letter-spacing: 0.014em;
    text-transform: uppercase;
    color: #191C1F;
  }
  h6 {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.035em;
    color: #949494;
  }
  .modal-content {
    background: #FFFFFF;
    box-shadow: 0 2px 14px rgba(172, 172, 172, 0.25);
    border-radius: 24px;
    overflow: hidden;
    padding: 15px 20px;
  }
  .modal-body {
    padding-bottom: 40px;
  }
  .m-block {
    margin-bottom: 30px;
    border-bottom: 1px solid #F7F7F7;
    padding-bottom: 10px;
    .form-field {
      padding-left: 0 !important;
      .radiobutton {
        label {
          top: 3px !important;
          margin-right: 5px !important;
        }
      }
    }
    .form-field-radio {
      font-size: 16px;
      line-height: 158%;
      letter-spacing: 0.014em;
      color: #717171;
      margin-bottom: 10px;
      &.active {
        color: #464646;
      }
      label {
        top: 3px;
      }
      .form-field {
        padding: 10px 0 10px 0;
        label {
          padding-left: 10px;
          top: 3px;
        }
        h6 {
          margin-bottom: 0;
        }
        &.textarea-field {
          width: 80%;
          h6 {
            font-size: 12px;
            line-height: 158%;
            letter-spacing: 0.014em;
            color: #717171;
            margin-bottom: 3px;
            span {
              float: right;
              font-weight: 500;
              font-size: 10px;
              line-height: 158%;
              text-align: right;
              letter-spacing: 0.014em;
              color: #ACACAC;
            }
          }
        }
        textarea {
          border-radius: 4px;
          border: 1px solid #cccccc;
          width: 100%;
          min-height: 50px;
          text-indent: 5px;
          font-weight: 500;
          font-size: 12px;
          line-height: 158%;
          letter-spacing: 0.014em;
          color: #464646;
          padding: 2px 10px 10px 2px;
          &:focus {
            border-color: $redColor !important;
            outline: none;
          }
          &.has-val {
            border-color: #ACACAC !important;
          }
        }
      }
      input {
        border: none;
        border-bottom: 1px solid #cccccc;
        width: 200px;
        height: 35px;
        border-radius: 0;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.024em;
        color: #464646;
        padding: 0;
        &:focus {
          border-color: $redColor !important;
          outline: none;
          box-shadow: none;
        }
        &.has-val {
          border-color: #ACACAC !important;
        }
      }
      ::-webkit-input-placeholder { /* Edge */
        color: #C4C4C4;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
      }

      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #C4C4C4;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
      }

      ::placeholder {
        color: #C4C4C4;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
  .modal-header {
    position: relative;
    flex-flow: wrap;
    border-bottom: none;
    .btn-close {
      position: absolute;
      right: 20px;
      top: 20px;
      opacity: 1;
      background: none;
      display: block;
      width: 25px;
      height: 25px;
      padding-top: 7px;
      &:hover {
        background: #F6E9EA;
        border-radius: 12px;
      }
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    p {
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.024em;
      background: #F5FAF3;
      border-radius: 100px;
      padding: 8px 20px;
      width: 100%;
      margin: 15px auto;
      text-align: center;
      &.success-msg {
        color: #3F991F;
      }
    }
  }
  .confirm-blk {
    text-align: center;
    max-width: 350px;
    margin: 30px auto;
    h2 {
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #191C1F;
      margin: 2px 0;
    }
    p {
      font-size: 12px;
      line-height: 158%;
      text-align: center;
      letter-spacing: 0.014em;
      color: #717171;
    }
  }
  .modal-footer {
    background: #FFFFFF;
    box-shadow: 0px -1px 14px rgba(172, 172, 172, 0.25);
    justify-content: flex-end;
    border: none;
    padding: 20px 10px 20px 0;
    margin: 0 -20px -16px;
    button {
      margin: 0 10px;
    }
  }
}

.login-page, .otp-page {
  &:before {
    content: '';
    background-image: url("../img/x-bg-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 31%;
    width: 100%;
    height: 100vh;
    position: absolute;
    bottom: 0;
  }
  //background: linear-gradient(180deg, #9E1C2C 17.59%, #8C1826 106.62%, #470910 135.25%);
  background-image: url("../img/login-bg.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100vh;
  .go-back {
    position: absolute;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.014em;
    color: #FFFFFF;
    top: 36px;
    left: 36px;
    img {
      width: 10px;
      position: relative;
      bottom: 1px;
    }
  }
  .otp-field {
    display: flex;
    input {
      margin-right: 12px;
      border: 1.5px solid #E7E7E7;
      border-radius: 4px;
      height: 48px;
      width: 48px;
      text-align: center;
      font-size: 22px;
    }
  }
  p {
    margin-bottom: 32px;
  }
  .resend-blk {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.014em;
    color: #464646;
    margin-top: 18px;
    padding-bottom: 18px;
    a {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.014em;
      color: #9E1C2C;
      margin-left: 8px;
    }
  }
}

.login-blk {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  .form-block {
    background: #FFFFFF;
    box-shadow: 0px 2px 50px rgba(66, 3, 3, 0.25);
    border-radius: 24px;
    width: 478px;
    padding: 32px 48px 48px 48px;
    h1 {
      color: $blackColor;
      margin-bottom: 32px;
    }
  }
  .checkbox-c {
    padding-top: 26px;
    margin-bottom: 24px !important;
    label {
      text-transform: none;
    }
  }
  .primary-btn {
    width: 100%;
  }
  .logo {
    margin: 0 auto 32px;
    display: table;
    width: 301px;
  }
}
