* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
$redColor: #9E1C2C;
$redDisabledColor: #D8A4AB;

$blackColor: #191C1F;
$darkGrey: #464646;
$darkGreyTwo: #717171;

$greyOneColor: #949494;
$greyTwoColor: #ACACAC;
$greyThreeColor: #C4C4C4;

$greyLightOneColor: #E7E7E7;
$greyLightTwoColor: #F9F9F9;

$whiteColor: #FFFFFF;

$yellowColor: #EF9206;

html {
  body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
}
//body::-webkit-scrollbar {
//  width: 10px;
//}
//
//body::-webkit-scrollbar-track {
//  //box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//}
//
//body::-webkit-scrollbar-thumb {
//  background-color: #E2E2E2;
//  outline: 1px solid #E2E2E2;
//  border-radius: 20px;
//}


.scrollbar-design::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-design::-webkit-scrollbar-track {
  //box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scrollbar-design::-webkit-scrollbar-thumb {
  background-color: #E2E2E2;
  outline: 1px solid #E2E2E2;
  border-radius: 20px;
}

body {
  a {
    text-decoration: none;
  }
  .yellow {
    color: $yellowColor;
  }
  .yellow-1 {
    color: #D9B700;
  }
  .green {
    color: #3F991F;
  }
  .red {
    color: $redColor;
    &:hover, &:focus, &:active {
      color: $redColor;
    }
  }
  .light-blue {
    color: #1A8BDD;
  }
  .dark-grey {
    color: $darkGrey !important;
  }
  .grey {
    color: #919191 !important;
  }
  .container-fluid {
    padding: 0 32px;
  }
  input[type="search"]::-webkit-search-decoration {
    display: none;
  }

  .row {
    --bs-gutter-x: 1rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
  }

  h1 {
    font-weight: 500;
    font-size: 22px;
    line-height: 158%;
    letter-spacing: 0.014em;
    text-transform: uppercase;
    color: #464646;
  }

  h2 {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    color: #464646;
  }

  h3 {
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    color: #464646;
  }

  h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.024em;
    color: #464646;
  }

  h5 {
    font-weight: 600;
    font-size: 14px;
    line-height: 158%;
    letter-spacing: 0.014em;
    color: #464646;
  }

  h6 {
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.035em;
    color: #464646;
  }

  .modal-1 {
    h2 {
      font-size: 18px !important;
      line-height: 158% !important;
      font-weight: 500 !important;
      letter-spacing: 0.014em !important;
    }
    .btn-close {
      background-image: url(../img/close.svg);
      opacity: 1;
      position: relative;
      top: -5px;
    }
    .modal-header {
      padding-bottom: 0 !important;
    }
    .modal-content {
      padding-top: 0 !important;
    }
    h6 {
      margin-bottom: 10px;
    }
    .form-field {
      margin-bottom: 10px;
      .radiobutton {
        margin-right: 0 !important;
      }
    }
  }

  .subtitle-2 {
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.035em;
    color: #464646;
  }

  .body-text-1 {
    font-weight: 600;
    font-size: 16px;
    line-height: 158%;
    letter-spacing: 0.014em;
    color: #464646;
  }

  .body-text-2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 158%;
    letter-spacing: 0.014em;
    color: #464646;
  }

  .body-text-4 {
    font-size: 12px;
    line-height: 158%;
    letter-spacing: 0.014em;
    color: #464646;
  }

  .body-text-5 {
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.014em;
    font-weight: 500;
    color: $redColor;
  }

  .font-weight-600 {
    font-weight: 600;
  }

  .font-weight-500 {
    font-weight: 500;
  }

  .yellow-border {
    border: 1px solid $yellowColor;
    color: $yellowColor;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.011em;
  }

  .grey-border {
    border: 1px solid $greyLightOneColor;
    color: $greyLightOneColor;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.011em;
  }

  .red-border {
    border: 1px solid $redColor;
    color: $redColor;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.011em;
  }

  .button-text-1 {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.011em;
    color: #464646;
  }

  .button-text-2 {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.011em;
    color: #464646;
  }

  .button-text-3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.014em;
    color: #464646;
  }

  .miscellaneous-1 {
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 158% !important;
    letter-spacing: 0.014em !important;
    color: #464646 !important;
  }

  .miscellaneous-2 {
    font-weight: bold;
    font-size: 12px;
    line-height: 158%;
    letter-spacing: 0.014em;
    color: #464646;
  }

  .miscellaneous-3 {
    p {
      font-weight: 400 !important;
      font-size: 12px !important;
      line-height: 18px !important;
      letter-spacing: 0.014em !important;
      color: #464646 !important;
    }
  }

  .miscellaneous-4 {
    p {
      font-weight: 600 !important;
      font-size: 25px !important;
      line-height: 30px !important;
      letter-spacing: 0.014em !important;
      color: #000 !important;
    }
  }



  .kv-left-right {
    h6 {
      display: inline-block;
      float: left;
      margin-right: 15px;
    }
  }

  .bold-value {
    p {
      font-weight: 700;
    }
  }

  .value-right {
    p {
      text-align: right;
    }
  }


  .progress-bar{
    margin-top: -4px;
    display: block;
    border-radius: 4px;
    width: 1px;
    height: 4px;
  }

  .space-4 {
    padding: 4px;
  }
  .space-8 {
    padding: 8px;
  }
  .space-12 {
    padding: 12px;
  }
  .space-16 {
    padding: 16px;
  }
  .space-20 {
    padding: 20px;
  }
  .space-24 {
    padding: 24px;
  }
  .space-28 {
    padding: 28px;
  }
  .space-32 {
    padding: 32px;
  }
  .space-36 {
    padding: 36px;
  }
  .space-40 {
    padding: 40px;
  }
  .space-48 {
    padding: 48px;
  }

  .cl-4 {
    .form-field {
      flex: 0 0 auto;
      width: 33.33333333%;
    }
  }

  .grey-bg-round-1 {
    background: #F9F9F9;
    border-radius: 10px;
    padding: 15px;
    input {
      background: #F9F9F9;
    }
  }

  .grey-bg-round-2 {
    background: #E2E2E2;
    border-radius: 24.527px;
    display: inline-block;
    padding: 3px 16px;
    color: #464646 !important;
  }

  .shadow-1 {
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(172, 172, 172, 0.1);
  }
  .shadow-2 {
    background: #FFFFFF;
    box-shadow: 0 -1px 14px rgba(172, 172, 172, 0.25);
  }
  .shadow-3 {
    background: #FFFFFF;
    box-shadow: 0 1px 7px rgba(172, 172, 172, 0.25);
  }
  .shadow-4 {
    background: #FFFFFF;
    box-shadow: 0 4px 14px rgba(172, 172, 172, 0.25);
  }
  .shadow-5 {
    background: #FFFFFF;
    box-shadow: 0 4px 20px rgba(172, 172, 172, 0.5);
  }

  .add-divider {
    position: relative;
    opacity: 1;
    width: 100%;
    &:after {
      content: '';
      height: 1px;
      background-color: #E7E7E7;
      position: absolute;
      bottom: 0;
      left: -30px;
      right: -30px;
    }
  }

  input[type="range"] {
    -webkit-appearance: none;
    height: 4px !important;
    background: #E7E7E7;
    border-radius: 5px;
    background-image: linear-gradient($redColor, $redColor);
    background-size: 50% 100%;
    border: none !important;
    background-repeat: no-repeat;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #ACACAC;
    cursor: ew-resize;
    transition: background .3s ease-in-out;
  }

  input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none !important;
    background: transparent;
  }


  .normal-table-row {
    .edit-btn-icon {
      padding-left: 18px !important;
      &:after {
        width: 14px !important;
      }
    }
    .delete-btn-icon {
      padding-left: 18px !important;
      &:after {
        height: 14px !important;
        width: 11px !important;
      }
    }
    &.bordered-table {
      .row-head, .row-blk {
        .col {
          border-right: 1px solid #E7E7E7;
          word-break: break-word;
          &:last-child {
            border-right: none;
          }
        }
      }
    }

    .row-header {
      margin-bottom: 30px;
      h4 {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #717171;
      }
       p {
         font-weight: 600;
         font-size: 14px;
         line-height: 21px;
         color: #464646;
         margin-bottom: 0;
         span {
           font-weight: 500;
           color: #717171;
         }
       }
      .comment-blk {
        p {
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
          color: #464646;
          span {
            color: #717171;
          }
        }
      }
    }
    .row-table {
      overflow: hidden;
      .col {
        position: relative;
        &:hover {
          &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: -9999px;
            bottom: -9999px;
            background: #F2F2F2;
            border-radius: 10px;
            z-index: -1;
          }
        }
      }
    }
    .row-head {
      border: 1px solid #E7E7E7;
      border-top-right-radius: 12px;
      border-top-left-radius: 12px;
      margin: 0;
      .col {
        font-weight: 500;
        font-size: 12px;
        line-height: 158%;
        text-align: center;
        letter-spacing: 0.014em;
        color: #717171;
        padding-top: 16px;
        padding-bottom: 16px;
      }
    }
    .row-body {
      border: 1px solid #E7E7E7;
      border-top: none;
      border-bottom-right-radius: 12px;
      border-bottom-left-radius: 12px;
      margin: 0;
      .row-blk {
        border-bottom: 1px solid #E7E7E7;
        &:last-child {
          border-bottom: none;
        }
      }
      .col {
        text-align: center;
        padding-top: 16px;
        padding-bottom: 16px;
        p {
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
          text-align: center;
          letter-spacing: 0.024em;
          color: #949494;
          margin-bottom: 0;
        }
        h3 {
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
          letter-spacing: 0.024em;
          color: #464646;
          margin-bottom: 0;
        }
      }
    }
    hr {
      margin: 30px 0;
    }
  }


  .primary-btn {
    padding: 9px 24px;
    min-width: 98px;
    background: #9E1C2C;
    border: 1.5px solid #9E1C2C;
    display: inline-block;
    border-radius: 45px;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.011em;
    color: #FFFFFF;
    transition: 0.25s all ease-in-out;
    -webkit-transition: 0.25s all ease-in-out;
    -moz-transition: 0.25s all ease-in-out;
    text-decoration: none;
    &:hover {
      background-color: #790D1A;
      color: #FFFFFF;
    }
    &.disabled-btn {
      background: #D8A4AB;
      border: 1.5px solid #D8A4AB;
      cursor: not-allowed;
      pointer-events: none;
    }
  }

  .primary-btn-icon {
    padding: 10px 38px 10px 50px;
    background: #9E1C2C;
    border-radius: 45px;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.011em;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.25s all ease-in-out;
    -webkit-transition: 0.25s all ease-in-out;
    -moz-transition: 0.25s all ease-in-out;
    position: relative;
    &:hover {
      background-color: #790D1A;
      color: #FFFFFF;
    }
    &.disabled-btn {
      background: #D8A4AB;
      cursor: not-allowed;
      pointer-events: none;
    }
    &:after {
      content: '';
      background-image: url("../img/plus.svg");
      position: absolute;
      width: 10px;
      height: 10px;
      background-size: cover;
      top: 14px;
      left: 30px;
    }
  }

  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label {
    display: inline-block;
  }
  [type="radio"]:not(:checked) + label span:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  [type="radio"]:checked + label span:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  [type="radio"]:checked + label {
    color: #212121 !important;
  }

  //.radio-btn {
  //  display: inline-block;
  //  margin-top: 10px;
  //  label {
  //    padding-left: 20px;
  //    display: flex !important;
  //    align-items: center;
  //    width: auto !important;
  //    margin-right: 15px !important;
  //    font-size: 12px;
  //    font-weight: 500;
  //  }
  //}

  .radiobutton {
    display: inline-block;
    margin-right: 10px;
    label {
      position: relative;
      cursor: pointer;
      font-size: 12px;
      line-height: 18px;
      span {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #fff;
        border: 2px solid #A1555F;
        cursor: pointer;
        margin: 0 auto;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        &:after {
          content: '';
          width: 8px;
          height: 8px;
          background-color: #A1555F;
          border-radius: 50%;
        }
      }
    }
  }

  .left-label {
    h6 {
      position: relative;
      top: 28px;
      left: -11px;
      display: inherit;
      width: 20px;
      span {
        display: none;
      }
    }
    input {
      width: 95% !important;
      float: right;
    }
  }

  .left-label-1 {
    h6 {
      position: relative;
      top: 27px;
      left: -15px;
      display: inherit;
      width: 20px;
      span {
        display: none;
      }
    }
    input {
      width: 95% !important;
      float: right;
    }
  }


  .secondary-btn {
    padding: 9px 24px;
    min-width: 98px;
    background: #FFFFFF;
    border: 1.5px solid #9E1C2C;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 45px;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.011em;
    color: #9E1C2C;
    text-decoration: none;
    transition: 0.25s all ease-in-out;
    -webkit-transition: 0.25s all ease-in-out;
    -moz-transition: 0.25s all ease-in-out;
    &:hover {
      background: #F0D2D2;
      color: #9E1C2C;
    }
    &.disabled-btn {
      opacity: 0.7;
      cursor: not-allowed;
      background: #FFFFFF;
      pointer-events: none;
    }
  }

  .secondary-btn-icon {
    padding: 9px 40px 9px 48px;
    background: #FFFFFF;
    border: 1.5px solid #9E1C2C;
    border-radius: 45px;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.011em;
    color: #9E1C2C;
    text-decoration: none;
    transition: 0.25s all ease-in-out;
    -webkit-transition: 0.25s all ease-in-out;
    -moz-transition: 0.25s all ease-in-out;
    position: relative;
    &.bulk-action {
      padding: 8.5px 21px 8.5px 29px;
    }
    &:hover {
      background: #F0D2D2;
      color: #9E1C2C;
    }
    &.disabled-btn {
      opacity: 0.7;
      cursor: not-allowed;
      background: #FFFFFF;
      pointer-events: none;
    }
    &:after {
      content: '';
      background-image: url("../img/down-icon.svg");
      position: absolute;
      width: 10px;
      height: 6px;
      background-size: cover;
      top: 15px;
      left: 25px;
    }
  }

  .edit-btn {
    padding: 6px 30px 6px 38px;
    background: #FFFFFF;
    border: 1.5px solid #9E1C2C;
    border-radius: 45px;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.011em;
    color: #9E1C2C;
    text-decoration: none;
    transition: 0.25s all ease-in-out;
    -webkit-transition: 0.25s all ease-in-out;
    -moz-transition: 0.25s all ease-in-out;
    position: relative;
    &.bulk-action {
      padding: 8.5px 21px 8.5px 29px;
    }
    &:hover {
      background: #F0D2D2;
      color: #9E1C2C;
    }
    &.disabled-btn {
      opacity: 0.7;
      cursor: not-allowed;
      background: #FFFFFF;
      pointer-events: none;
    }
    &:after {
      content: '';
      background-image: url("../img/pencil-red.svg");
      position: absolute;
      width: 10px;
      height: 10px;
      background-size: cover;
      top: 10px;
      left: 23px;
    }
  }

  .toast-msg {
    position: fixed;
    opacity: 0;
    transition: 1s all ease-in-out;
    -webkit-transition: 1s all ease-in-out;
    -moz-transition: 1s all ease-in-out;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.024em;
    padding: 8px 32px;
    z-index: 1111;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    top: 75px;
    box-sizing: border-box;
    border-radius: 100px;
    &.show-toast {
      opacity: 1 !important;
    }
    svg {
      display: none;
    }
    &.toast-success {
      color: #3F991F;
      background: #F5FAF3;
      border: 1.5px solid #3F991F;
      svg {
        path {
          fill: #3F991F;
        }
      }
    }
    &.toast-error {
      background: #FFFCEA;
      border: 1.5px solid #D9B700;
      color: #D9B700;
      svg {
        path {
          fill: #D9B700;
        }
      }
    }
    &.toast-warning {
      background: #F0F8FE;
      border: 1.5px solid #1A8BDD;
      color: #1A8BDD;
      svg {
        path {
          fill: #1A8BDD;
        }
      }
    }
    &.toast-icon {
      svg {
        display: inline-block;
        position: relative;
        bottom: 1px;
      }
    }
  }

  .edit-btn-icon {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.014em;
    color: #9E1C2C;
    text-decoration: none;
    transition: 0.25s all ease-in-out;
    -webkit-transition: 0.25s all ease-in-out;
    -moz-transition: 0.25s all ease-in-out;
    position: relative;
    padding-left: 24px;
    &:after {
      content: '';
      background-image: url("../img/pencil.svg");
      position: absolute;
      width: 17px;
      height: 17px;
      background-size: cover;
      top: 2px;
      left: 0;
    }
    &:hover {
      color: #790D1A;
      &:after {
        background-image: url("../img/pencil-red.svg");
      }
    }
    &.disabled-btn {
      opacity: 0.7;
      cursor: not-allowed;
      pointer-events: none;
    }
  }

  .add-channel {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.014em;
    color: #9E1C2C;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
    &:hover,&:focus,&:active {
      color: #9E1C2C;
    }
    img {
      width: 10px;
      margin-right: 5px;
    }
  }

  .delete-btn-icon {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.014em;
    color: #9E1C2C;
    text-decoration: none;
    transition: 0.25s all ease-in-out;
    -webkit-transition: 0.25s all ease-in-out;
    -moz-transition: 0.25s all ease-in-out;
    position: relative;
    padding-left: 15px;
    &:after {
      content: '';
      background-image: url("../img/delete.svg");
      position: absolute;
      width: 14px;
      height: 17px;
      background-size: cover;
      top: 4px;
      left: 0;
    }
    &:hover {
      color: #790D1A;
      &:after {
        background-image: url("../img/delete.svg");
      }
    }
    &.disabled-btn {
      opacity: 0.7;
      cursor: not-allowed;
      pointer-events: none;
    }
  }

  .form-block {
    .form-field {
      margin-bottom: 39px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    input {
      font-weight: 600;
      font-size: 16px;
      line-height: 158%;
      letter-spacing: 0.014em;
      color: #464646;
      box-shadow: none;
      border: none;
      width: 100%;
      border-bottom: 1px solid #cccccc;
      &:focus {
        border-color: $redColor !important;
      }
      &.has-val {
        border-color: #ACACAC !important;
      }
    }
    label {
      font-weight: 600;
      font-size: 13px;
      line-height: 19px;
      letter-spacing: 0.035em;
      color: #717171;
      text-align: left;
      display: block;
      margin-bottom: 5px;
      text-transform: uppercase;
      span {
        font-weight: 500;
        font-size: 12px;
        line-height: 158%;
        letter-spacing: 0.014em;
        color: #949494;
        position: absolute;
        right: 30px;
      }
    }
  }

  .form-field-password {
    position: relative;
    a {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.014em;
      color: $redColor;
      position: absolute;
      right: 0;
      top: 25px;
    }
  }

  .disabled {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
  }


  textarea {
    &:focus {
      border-color: $redColor !important;
      outline: none;
    }
  }

  .wrong-val {
    border-color: #EF9206 !important;
    font-weight: 500;
    font-size: 9px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 0.014em;
    color: #EF9206 !important;
    padding-top: 8px;
    width: 100%;
    img {
      margin-right: 4px;
      width: 15px;
    }
  }

  .disabled-field {
    font-weight: 600 !important;
    font-size: 13px !important;
    line-height: 19px !important;
    display: flex !important;
    align-items: center !important;
    letter-spacing: 0.035em !important;
    color: #C4C4C4 !important;
  }

  p {
    font-size: 14px;
    line-height: 158%;
    letter-spacing: 0.014em;
    color: #464646;
  }

  input,select,a,button {
    &:focus, &:active {
      outline: none;
    }
  }
  .hollow-button {
    border: 1px solid $redColor;
    display: inline-block;
    border-radius: 20px;
    color: $redColor;
    width: 100px;
    padding: 7px 0;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: $redColor;
    }
  }
  .solid-button {
    border: 1px solid $redColor;
    display: inline-block;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: $redColor;
    width: 100px;
    padding: 7px 0;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: #FFFFFF;
    }
  }
}

.dropdown-menu {
  padding: 0 !important;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0,0.15);
  border-radius: 8px !important;
  border: none !important;
  overflow: hidden;
  li {
    width: 100%;
    a {
      padding: 16px 20px;
      cursor: pointer;
      user-select: none;
      border: none;
      border-bottom: 1px solid #e7e7e7;
      width: 100%;
      font-size: 14px;
      line-height: 158%;
      letter-spacing: 0.014em;
      color: #464646;
      display: flex;
      align-items: center;
      white-space: normal;
    }
    &:last-child {
      a {
        border-bottom: none;
      }
    }
  }
}

::-webkit-input-placeholder { /* Edge */
  font-weight: 500;
  font-size: 16px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #BBBBBB;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-weight: 500;
  font-size: 16px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #BBBBBB;
}

::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #BBBBBB;
}

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  text-align: left;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 17px;
  right: 10px;
  width: 12px;
  height: 8px;
  background-image: url("../img/down-arrow.svg");
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  width: 12px;
  height: 8px;
  background-image: url("../img/down-arrow.svg");
  transform: rotate(180deg);
  top: 25px;
}

/*style the items (options), including the selected item:*/
.select-items div {
  padding: 16px 20px;
  cursor: pointer;
  user-select: none;
  border: none;
  border-bottom: 1px solid #e7e7e7;
  width: 100%;
  font-size: 14px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #464646;
  display: flex;
  align-items: center;
  &:last-child {
    border-bottom: none;
  }
}
.select-selected {
  padding: 8px 20px 4px 0;
  cursor: pointer;
  user-select: none;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #464646;
}

.checkbox-c {
  input {
    //display: none;
  }
  label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    &:before {
      content: '';
      position: absolute;
      border: 2px solid #A1555F !important;
      width: 16px !important;
      height: 16px !important;
      border-radius: 3px;
      top: 2px;
      left: 0;
    }
    &:before {
      background-color: #A1555F;
    }
    &:after {
      content: '';
      background-image: url("../img/checkbox-icon.svg");
      margin-top: -5px;
      margin-left: -4px;
      background-repeat: no-repeat;
      width: 16px !important;
      height: 16px !important;
      position: absolute;
      left: 6px;
      top: 11px;
    }
  }
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label {
  display: inline-block;
}
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
[type="checkbox"]:not(:checked) + label:before {
  background-color: transparent;
}
[type="checkbox"]:checked + label:before {
  background-color: #A1555F;
}
[type="checkbox"]:checked + label {
  color: #212121 !important;
}


/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  position:relative;
  right:13px;
  background-color: #F1F1F1;
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  background-image: url("../img/close-black.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.placeholder-val {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.014em;
  color: #BBBBBB;
}

.attachment-icon {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 21px;
  bottom: 62px;
  cursor: pointer;
  z-index: 11;
  input {
    display: none;
  }
}

/*style items (options):*/
.select-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  overflow: hidden;
}

//.select-items div {
//  font-size: 14px;
//  line-height: 158%;
//  letter-spacing: 0.014em;
//  color: #464646;
//  padding-left: 15px;
//  display: flex;
//  align-items: center;
//  &:last-child {
//    border-bottom: none;
//  }
//}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Hano CSS start */
.confirm-modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 111;
}

.schedule-modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 111;
}

.schedule-modal .modal-body {
  max-height: fit-content;
}

#schedule-modal .m-block .active {
  color: #464646;
}
#schedule-modal .m-block .form-field {
  padding: 10px 0 10px 20px;
}
#schedule-modal .m-block .form-field h6 {
  margin-bottom: 0;
}
#schedule-modal .m-block .form-field.textarea-field {
  width: 80%;
}
#schedule-modal .m-block .form-field.textarea-field h6 {
  font-size: 12px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #717171;
  margin-bottom: 3px;
}
#schedule-modal .m-block .form-field.textarea-field h6 span {
  float: right;
  font-weight: 500;
  font-size: 10px;
  line-height: 158%;
  text-align: right;
  letter-spacing: 0.014em;
  color: #acacac;
}
#schedule-modal .m-block .form-field textarea {
  resize: none;
  border-radius: 4px;
  border: 1px solid #cccccc;
  width: 100%;
  min-height: 50px;
  text-indent: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #464646;
  padding: 2px 10px 10px 2px;
}
#schedule-modal .m-block .form-field textarea:focus {
  border-color: #9e1c2c !important;
  outline: none;
}
#schedule-modal .m-block .form-field textarea.has-val {
  border-color: #acacac !important;
}
#schedule-modal .m-block input {
  border: none;
  border-bottom: 1px solid #cccccc;
  width: 200px;
  height: 35px;
  border-radius: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.024em;
  color: #464646;
  padding: 0;
}
#schedule-modal .m-block input:focus {
  border-color: #9e1c2c !important;
  outline: none;
  box-shadow: none;
}
#schedule-modal .m-block input.has-val {
  border-color: #acacac !important;
}
/* Hano CSS end */