@media screen and (min-width: 1200px) and (max-width: 1399px) {

}

@media screen and (min-width: 1260px) and (max-width: 1380px) {
  .f-block {
    .f-block-2 {
      padding: 28px 15px 0;
    }
    .breadcrum-blk {
      .middle-ul, .lower-ul-2, .lower-ul, .upper-ul {
        li {
          padding: 6px 4px 0 4px;
        }
      }
    }
    .accordion-button {
      padding-left: 15px;
      padding-right: 15px;
    }
    .accordion-r {
      .completed-blk {
        margin-left: 15px;
      }
    }
  }
}