@media only screen and (max-width: 575px) {
  header {
    padding: 18px 5px;
    .menu-burger {
      margin-right: 10px;
    }
    .col-md-6 {
      &:first-child {
        width: 60%;
      }
      &:last-child {
        width: 40%;
      }
    }
  }
  .side-bar {
    left: -192px;
    transition: 0.25s all ease-in-out;
    -webkit-transition: 0.25s all ease-in-out;
    -moz-transition: 0.25s all ease-in-out;
  }
  .main-section {
    .center-container {
      padding-left: 0;
    }
  }
}