﻿* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
body a {
  text-decoration: none;
}
body .container-fluid {
  padding: 0 32px;
}
body input[type="search"]::-webkit-search-decoration {
  display: none;
}
body .row {
  --bs-gutter-x: 1rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
body h1 {
  font-weight: 500;
  font-size: 22px;
  line-height: 158%;
  letter-spacing: 0.014em;
  text-transform: uppercase;
  color: #464646;
}
body h2 {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.035em;
  text-transform: uppercase;
  color: #464646;
}
body h3 {
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.035em;
  text-transform: uppercase;
  color: #464646;
}
body h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.024em;
  color: #464646;
}
body h5 {
  font-weight: 600;
  font-size: 14px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #464646;
}
body h6 {
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.035em;
  color: #464646;
}
body .subtitle-2 {
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.035em;
  color: #464646;
}
body .body-text-1 {
  font-weight: 600;
  font-size: 16px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #464646;
}
body .body-text-2 {
  font-weight: 600;
  font-size: 14px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #464646;
}
body .body-text-4 {
  font-size: 12px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #464646;
}
body .button-text-1 {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.011em;
  color: #464646;
}
body .button-text-2 {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.011em;
  color: #464646;
}
body .button-text-3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.014em;
  color: #464646;
}
body .miscellaneous-1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #464646;
}
body .miscellaneous-2 {
  font-weight: bold;
  font-size: 12px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #464646;
}
body .miscellaneous-3 {
  font-weight: 500;
  font-size: 12px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #464646;
}
body .green {
  color: #3f991f;
}
body .space-4 {
  padding: 4px;
}
body .space-8 {
  padding: 8px;
}
body .space-12 {
  padding: 12px;
}
body .space-16 {
  padding: 16px;
}
body .space-20 {
  padding: 20px;
}
body .space-24 {
  padding: 24px;
}
body .space-28 {
  padding: 28px;
}
body .space-32 {
  padding: 32px;
}
body .space-36 {
  padding: 36px;
}
body .space-40 {
  padding: 40px;
}
body .space-48 {
  padding: 48px;
}
body .shadow-1 {
  background: #ffffff;
  box-shadow: 0 4px 4px rgba(172, 172, 172, 0.1);
}
body .shadow-2 {
  background: #ffffff;
  box-shadow: 0 -1px 14px rgba(172, 172, 172, 0.25);
}
body .shadow-3 {
  background: #ffffff;
  box-shadow: 0 1px 7px rgba(172, 172, 172, 0.25);
}
body .shadow-4 {
  background: #ffffff;
  box-shadow: 0 4px 14px rgba(172, 172, 172, 0.25);
}
body .shadow-5 {
  background: #ffffff;
  box-shadow: 0 4px 20px rgba(172, 172, 172, 0.5);
}
body .primary-btn {
  padding: 9px 24px;
  min-width: 98px;
  background: #9e1c2c;
  border: 1.5px solid #9e1c2c;
  display: inline-block;
  border-radius: 45px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.011em;
  color: #ffffff;
  transition: 0.25s all ease-in-out;
  -webkit-transition: 0.25s all ease-in-out;
  -moz-transition: 0.25s all ease-in-out;
  text-decoration: none;
}
body .primary-btn:hover {
  background-color: #790d1a;
  color: #ffffff;
}
body .primary-btn.disabled-btn {
  background: #d8a4ab;
  border: 1.5px solid #d8a4ab;
  cursor: not-allowed;
  pointer-events: none;
}
body .primary-btn-icon {
  padding: 10px 38px 10px 50px;
  background: #9e1c2c;
  border-radius: 45px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.011em;
  color: #ffffff;
  text-decoration: none;
  transition: 0.25s all ease-in-out;
  -webkit-transition: 0.25s all ease-in-out;
  -moz-transition: 0.25s all ease-in-out;
  position: relative;
}
body .primary-btn-icon:hover {
  background-color: #790d1a;
  color: #ffffff;
}
body .primary-btn-icon.disabled-btn {
  background: #d8a4ab;
  cursor: not-allowed;
  pointer-events: none;
}
body .primary-btn-icon:after {
  content: "";
  background-image: url("../img/plus.svg");
  position: absolute;
  width: 10px;
  height: 10px;
  background-size: cover;
  top: 14px;
  left: 30px;
}
body .secondary-btn {
  padding: 9px 24px;
  min-width: 98px;
  background: #ffffff;
  border: 1.5px solid #9e1c2c;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 45px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.011em;
  color: #9e1c2c;
  text-decoration: none;
  transition: 0.25s all ease-in-out;
  -webkit-transition: 0.25s all ease-in-out;
  -moz-transition: 0.25s all ease-in-out;
}
body .secondary-btn:hover {
  background: #f0d2d2;
  color: #9e1c2c;
}
body .secondary-btn.disabled-btn {
  opacity: 0.7;
  cursor: not-allowed;
  background: #ffffff;
  pointer-events: none;
}
body .secondary-btn-icon {
  padding: 9px 40px 9px 48px;
  background: #ffffff;
  border: 1.5px solid #9e1c2c;
  border-radius: 45px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.011em;
  color: #9e1c2c;
  text-decoration: none;
  transition: 0.25s all ease-in-out;
  -webkit-transition: 0.25s all ease-in-out;
  -moz-transition: 0.25s all ease-in-out;
  position: relative;
}
body .secondary-btn-icon.bulk-action {
  padding: 8.5px 21px 8.5px 29px;
}
body .secondary-btn-icon:hover {
  background: #f0d2d2;
  color: #9e1c2c;
}
body .secondary-btn-icon.disabled-btn {
  opacity: 0.7;
  cursor: not-allowed;
  background: #ffffff;
  pointer-events: none;
}
body .secondary-btn-icon:after {
  content: "";
  background-image: url("../img/down-icon.svg");
  position: absolute;
  width: 10px;
  height: 6px;
  background-size: cover;
  top: 15px;
  left: 25px;
}
body .edit-btn {
  padding: 6px 30px 6px 38px;
  background: #ffffff;
  border: 1.5px solid #9e1c2c;
  border-radius: 45px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.011em;
  color: #9e1c2c;
  text-decoration: none;
  transition: 0.25s all ease-in-out;
  -webkit-transition: 0.25s all ease-in-out;
  -moz-transition: 0.25s all ease-in-out;
  position: relative;
}
body .edit-btn.bulk-action {
  padding: 8.5px 21px 8.5px 29px;
}
body .edit-btn:hover {
  background: #f0d2d2;
  color: #9e1c2c;
}
body .edit-btn.disabled-btn {
  opacity: 0.7;
  cursor: not-allowed;
  background: #ffffff;
  pointer-events: none;
}
body .edit-btn:after {
  content: "";
  background-image: url("../img/pencil-red.svg");
  position: absolute;
  width: 10px;
  height: 10px;
  background-size: cover;
  top: 10px;
  left: 23px;
}
body .toast-msg {
  position: fixed;
  display: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.024em;
  padding: 8px 32px;
  z-index: 1111;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  top: 75px;
  box-sizing: border-box;
  border-radius: 100px;
}
body .toast-msg svg {
  display: none;
}
body .toast-msg.toast-success {
  color: #3f991f;
  background: #f5faf3;
  border: 1.5px solid #3f991f;
}
body .toast-msg.toast-success svg path {
  fill: #3f991f;
}
body .toast-msg.toast-error {
  background: #fffcea;
  border: 1.5px solid #d9b700;
  color: #d9b700;
}
body .toast-msg.toast-error svg path {
  fill: #d9b700;
}
body .toast-msg.toast-warning {
  background: #f0f8fe;
  border: 1.5px solid #1a8bdd;
  color: #1a8bdd;
}
body .toast-msg.toast-warning svg path {
  fill: #1a8bdd;
}
body .toast-msg.toast-icon svg {
  display: inline-block;
  position: relative;
  bottom: 1px;
}
body .edit-btn-icon {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.014em;
  color: #9e1c2c;
  text-decoration: none;
  transition: 0.25s all ease-in-out;
  -webkit-transition: 0.25s all ease-in-out;
  -moz-transition: 0.25s all ease-in-out;
  position: relative;
  padding-left: 24px;
}
body .edit-btn-icon:after {
  content: "";
  background-image: url("../img/pencil.svg");
  position: absolute;
  width: 17px;
  height: 17px;
  background-size: cover;
  top: 2px;
  left: 0;
}
body .edit-btn-icon:hover {
  color: #790d1a;
}
body .edit-btn-icon:hover:after {
  background-image: url("../img/pencil-red.svg");
}
body .edit-btn-icon.disabled-btn {
  opacity: 0.7;
  cursor: not-allowed;
  pointer-events: none;
}
body .form-block .form-field {
  margin-bottom: 39px;
}
body .form-block .form-field:last-child {
  margin-bottom: 0;
}
body .form-block input {
  font-weight: 600;
  font-size: 16px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #464646;
  box-shadow: none;
  border: none;
  width: 100%;
  border-bottom: 1px solid #cccccc;
}
body .form-block input:focus {
  border-color: #9e1c2c !important;
}
body .form-block input.has-val {
  border-color: #acacac !important;
}
body .form-block label {
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.035em;
  color: #717171;
  text-align: left;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
}
body .form-block label span {
  font-weight: 500;
  font-size: 12px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #949494;
  position: absolute;
  right: 30px;
}
body .form-field-password {
  position: relative;
}
body .form-field-password a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.014em;
  color: #9e1c2c;
  position: absolute;
  right: 0;
  bottom: 2px;
}
body .disabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}
body textarea:focus {
  border-color: #9e1c2c;
}
body .wrong-val {
  border-color: #ef9206 !important;
  font-weight: 500;
  font-size: 12px;
  line-height: 158%;
  display: flex;
  align-items: center;
  letter-spacing: 0.014em;
  color: #ef9206;
  padding-top: 8px;
}
body .wrong-val img {
  margin-right: 4px;
}
body .disabled-field {
  font-weight: 600 !important;
  font-size: 13px !important;
  line-height: 19px !important;
  display: flex !important;
  align-items: center !important;
  letter-spacing: 0.035em !important;
  color: #c4c4c4 !important;
}
body p {
  font-size: 14px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #464646;
}
body input:focus,
body input:active,
body select:focus,
body select:active,
body a:focus,
body a:active,
body button:focus,
body button:active {
  outline: none;
}
body .hollow-button {
  border: 1px solid #9e1c2c;
  display: inline-block;
  border-radius: 20px;
  color: #9e1c2c;
  width: 100px;
  padding: 7px 0;
  text-decoration: none;
}
body .hollow-button:hover {
  text-decoration: none;
  color: #9e1c2c;
}
body .solid-button {
  border: 1px solid #9e1c2c;
  display: inline-block;
  border-radius: 20px;
  color: #ffffff;
  background-color: #9e1c2c;
  width: 100px;
  padding: 7px 0;
  text-decoration: none;
}
body .solid-button:hover {
  text-decoration: none;
  color: #ffffff;
}
.dropdown-menu {
  padding: 0 !important;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 8px !important;
  border: none !important;
  overflow: hidden;
}
.dropdown-menu li {
  width: 100%;
}
.dropdown-menu li a {
  padding: 16px 20px;
  cursor: pointer;
  user-select: none;
  border: none;
  border-bottom: 1px solid #e7e7e7;
  width: 100%;
  font-size: 14px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #464646;
  display: flex;
  align-items: center;
}
.dropdown-menu li:last-child a {
  border-bottom: none;
}
::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #bbbbbb;
}
:-ms-input-placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #bbbbbb;
}
::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #bbbbbb;
}
.custom-select {
  position: relative;
  text-align: left;
}
.custom-select select {
  display: none;
}
.select-selected:after {
  position: absolute;
  content: "";
  top: 17px;
  right: 10px;
  width: 12px;
  height: 8px;
  background-image: url("../img/down-arrow.svg");
}
.select-selected.select-arrow-active:after {
  width: 12px;
  height: 8px;
  background-image: url("../img/down-arrow.svg");
  transform: rotate(180deg);
  top: 25px;
}
.select-items div {
  padding: 16px 20px;
  cursor: pointer;
  user-select: none;
  border: none;
  border-bottom: 1px solid #e7e7e7;
  width: 100%;
  font-size: 14px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #464646;
  display: flex;
  align-items: center;
}
.select-items div:last-child {
  border-bottom: none;
}
.select-selected {
  padding: 8px 20px 4px 0;
  cursor: pointer;
  user-select: none;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #464646;
}
.checkbox-c input {
  display: none;
}
.checkbox-c label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}
.checkbox-c label:before {
  content: "";
  position: absolute;
  border: 2px solid #a1555f !important;
  width: 16px !important;
  height: 16px !important;
  border-radius: 3px;
  top: 2px;
  left: 0;
}
.checkbox-c label.check-active:before {
  background-color: #a1555f;
}
.checkbox-c label.check-active:after {
  content: "";
  background-image: url("../img/checkbox-icon.svg");
  margin-top: -5px;
  margin-left: -4px;
  background-repeat: no-repeat;
  width: 16px !important;
  height: 16px !important;
  position: absolute;
  left: 6px;
  top: 11px;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  position: relative;
  right: 13px;
  background-color: #f1f1f1;
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  background-image: url("../img/close-black.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.placeholder-val {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.014em;
  color: #bbbbbb;
}
.select-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  overflow: hidden;
}
.select-hide {
  display: none;
}
.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
header {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 111;
  width: 100%;
  background-color: #ffffff;
}
header ul {
  list-style: none;
}
header ul li {
  float: left;
}
header .notification {
  margin-right: 20px;
}
header .notification a {
  position: relative;
}
header .notification a:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #9e1c2c;
  position: absolute;
  right: 0;
  top: 0;
}
header .user-account img {
  border-radius: 50%;
  width: 28px;
  height: 28px;
}
header .user-account .dropdown-toggle:after {
  display: none;
}
.side-bar {
  background-color: #f9f9f9;
  width: 192px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 105px;
}
.side-bar ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0 32px;
}
.side-bar ul li {
  margin-bottom: 20px;
}
.side-bar ul li .accordion-item {
  border: none;
  background-color: transparent;
}
.side-bar ul li .accordion-item img {
  height: 17px;
}
.side-bar ul li .accordion-item ul {
  padding-left: 20px;
  padding-top: 0;
}
.side-bar ul li .accordion-item ul li {
  margin-bottom: 0;
  margin-top: 8px;
  padding-left: 7px;
}
.side-bar ul li .accordion-item ul li a {
  color: #8d8d8d;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.side-bar ul li a {
  font-size: 14px;
  line-height: 21px;
  color: #464646 !important;
  text-decoration: none;
  font-weight: 500;
  padding: 0;
  background-color: transparent !important;
  border: none;
  box-shadow: none !important;
  display: inline-flex;
  align-items: center;
}
.side-bar ul li a:after {
  display: none;
}
.side-bar ul li a img {
  margin-right: 10px;
  width: 14px;
  height: 14px;
}
.side-bar ul li a.active {
  color: #9e1c2c !important;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.edit-user-popup .select-selected {
  color: #464646;
}
.edit-user-popup .add-user-upload label {
  right: 78px !important;
}
.add-user-popup,
.add-role-popup,
.edit-user-popup,
.edit-role-popup {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 111;
  display: none;
}
.add-user-popup.active-user-popup,
.add-role-popup.active-user-popup,
.edit-user-popup.active-user-popup,
.edit-role-popup.active-user-popup {
  display: block;
  opacity: 1;
  animation: fade 250ms linear;
}
.add-user-popup.active-user-popup .active-add-user-blk,
.add-role-popup.active-user-popup .active-add-user-blk,
.edit-user-popup.active-user-popup .active-add-user-blk,
.edit-role-popup.active-user-popup .active-add-user-blk {
  right: 0 !important;
}
.add-user-popup .add-user-blk,
.add-role-popup .add-user-blk,
.edit-user-popup .add-user-blk,
.edit-role-popup .add-user-blk {
  width: 480px;
  right: -480px;
  transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  background-color: #fff;
  position: absolute;
  top: 0;
  padding: 23px 32px 100px;
  text-align: center;
  height: 100vh;
  overflow: auto;
}
.add-user-popup .add-user-blk > a.close-popup,
.add-role-popup .add-user-blk > a.close-popup,
.edit-user-popup .add-user-blk > a.close-popup,
.edit-role-popup .add-user-blk > a.close-popup {
  position: absolute;
  right: 29.6px;
  top: 20px;
  display: block;
  width: 40px;
  height: 40px;
  padding-top: 7px;
}
.add-user-popup .add-user-blk > a.close-popup:hover,
.add-role-popup .add-user-blk > a.close-popup:hover,
.edit-user-popup .add-user-blk > a.close-popup:hover,
.edit-role-popup .add-user-blk > a.close-popup:hover {
  background: #f6e9ea;
  border-radius: 12px;
}
.add-user-popup .add-user-blk h1,
.add-role-popup .add-user-blk h1,
.edit-user-popup .add-user-blk h1,
.edit-role-popup .add-user-blk h1 {
  text-align: left;
  margin-bottom: 20px;
}
.add-user-popup .add-user-blk label,
.add-role-popup .add-user-blk label,
.edit-user-popup .add-user-blk label,
.edit-role-popup .add-user-blk label {
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.035em;
  color: #717171;
  text-align: left;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.add-user-popup .add-user-blk label span,
.add-role-popup .add-user-blk label span,
.edit-user-popup .add-user-blk label span,
.edit-role-popup .add-user-blk label span {
  font-weight: 500;
  font-size: 12px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #949494;
  position: absolute;
  right: 30px;
}
.add-user-popup .add-user-blk input,
.add-role-popup .add-user-blk input,
.edit-user-popup .add-user-blk input,
.edit-role-popup .add-user-blk input {
  border: none;
  border-bottom: 1px solid #cccccc;
  width: 100%;
  height: 35px;
  font-weight: 600;
  font-size: 16px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #464646;
}
.add-user-popup .add-user-blk input:focus,
.add-role-popup .add-user-blk input:focus,
.edit-user-popup .add-user-blk input:focus,
.edit-role-popup .add-user-blk input:focus {
  border-color: #9e1c2c !important;
}
.add-user-popup .add-user-blk input.has-val,
.add-role-popup .add-user-blk input.has-val,
.edit-user-popup .add-user-blk input.has-val,
.edit-role-popup .add-user-blk input.has-val {
  border-color: #acacac !important;
}
.add-user-popup .add-user-blk textarea,
.add-role-popup .add-user-blk textarea,
.edit-user-popup .add-user-blk textarea,
.edit-role-popup .add-user-blk textarea {
  border-radius: 4px;
  border: 1px solid #cccccc;
  width: 100%;
  min-height: 80px;
  text-indent: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #464646;
  padding: 10px;
}
.add-user-popup .add-user-blk textarea:focus,
.add-role-popup .add-user-blk textarea:focus,
.edit-user-popup .add-user-blk textarea:focus,
.edit-role-popup .add-user-blk textarea:focus {
  border-color: #9e1c2c !important;
  outline: none;
}
.add-user-popup .add-user-blk textarea.has-val,
.add-role-popup .add-user-blk textarea.has-val,
.edit-user-popup .add-user-blk textarea.has-val,
.edit-role-popup .add-user-blk textarea.has-val {
  border-color: #acacac !important;
}
.add-user-popup .add-user-blk select,
.add-role-popup .add-user-blk select,
.edit-user-popup .add-user-blk select,
.edit-role-popup .add-user-blk select {
  border: none;
  border-bottom: 1px solid #cccccc;
  width: 100%;
  height: 45px;
}
.add-user-popup .add-user-blk .form-field,
.add-role-popup .add-user-blk .form-field,
.edit-user-popup .add-user-blk .form-field,
.edit-role-popup .add-user-blk .form-field {
  margin-bottom: 39px;
}
.add-user-popup .add-user-blk .radio-row h3,
.add-role-popup .add-user-blk .radio-row h3,
.edit-user-popup .add-user-blk .radio-row h3,
.edit-role-popup .add-user-blk .radio-row h3 {
  color: #666464;
  text-transform: none;
  margin-bottom: 15px;
}
.add-user-popup .add-user-blk .radio-row .accordion-button,
.add-role-popup .add-user-blk .radio-row .accordion-button,
.edit-user-popup .add-user-blk .radio-row .accordion-button,
.edit-role-popup .add-user-blk .radio-row .accordion-button {
  color: #464646;
}
.add-user-popup .add-user-blk .radio-row .accordion-button:after,
.add-role-popup .add-user-blk .radio-row .accordion-button:after,
.edit-user-popup .add-user-blk .radio-row .accordion-button:after,
.edit-role-popup .add-user-blk .radio-row .accordion-button:after {
  display: none;
}
.add-user-popup .add-user-blk .radio-row .accordion-button:hover,
.add-user-popup .add-user-blk .radio-row .accordion-button:active,
.add-user-popup .add-user-blk .radio-row .accordion-button:focus,
.add-user-popup .add-user-blk .radio-row .accordion-button:not(.collapsed),
.add-role-popup .add-user-blk .radio-row .accordion-button:hover,
.add-role-popup .add-user-blk .radio-row .accordion-button:active,
.add-role-popup .add-user-blk .radio-row .accordion-button:focus,
.add-role-popup .add-user-blk .radio-row .accordion-button:not(.collapsed),
.edit-user-popup .add-user-blk .radio-row .accordion-button:hover,
.edit-user-popup .add-user-blk .radio-row .accordion-button:active,
.edit-user-popup .add-user-blk .radio-row .accordion-button:focus,
.edit-user-popup .add-user-blk .radio-row .accordion-button:not(.collapsed),
.edit-role-popup .add-user-blk .radio-row .accordion-button:hover,
.edit-role-popup .add-user-blk .radio-row .accordion-button:active,
.edit-role-popup .add-user-blk .radio-row .accordion-button:focus,
.edit-role-popup .add-user-blk .radio-row .accordion-button:not(.collapsed) {
  outline: none;
  box-shadow: none;
  background-color: transparent;
  color: #464646;
}
.add-user-popup .add-user-blk .radio-row .accordion-header .row,
.add-role-popup .add-user-blk .radio-row .accordion-header .row,
.edit-user-popup .add-user-blk .radio-row .accordion-header .row,
.edit-role-popup .add-user-blk .radio-row .accordion-header .row {
  align-items: center;
}
.add-user-popup .add-user-blk .radio-row .accordion-header .row .form-field,
.add-role-popup .add-user-blk .radio-row .accordion-header .row .form-field,
.edit-user-popup .add-user-blk .radio-row .accordion-header .row .form-field,
.edit-role-popup .add-user-blk .radio-row .accordion-header .row .form-field {
  margin-bottom: 0;
}
.add-user-popup .add-user-blk .radio-row .accordion-item,
.add-role-popup .add-user-blk .radio-row .accordion-item,
.edit-user-popup .add-user-blk .radio-row .accordion-item,
.edit-role-popup .add-user-blk .radio-row .accordion-item {
  background: #ffffff;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  margin-bottom: 20px;
}
.add-user-popup .add-user-blk .radio-row .accordion-body,
.add-role-popup .add-user-blk .radio-row .accordion-body,
.edit-user-popup .add-user-blk .radio-row .accordion-body,
.edit-role-popup .add-user-blk .radio-row .accordion-body {
  padding: 0;
}
.add-user-popup .add-user-blk .radio-row .accordion-body .row,
.add-role-popup .add-user-blk .radio-row .accordion-body .row,
.edit-user-popup .add-user-blk .radio-row .accordion-body .row,
.edit-role-popup .add-user-blk .radio-row .accordion-body .row {
  align-items: center;
  position: relative;
}
.add-user-popup .add-user-blk .radio-row .accordion-body .row:last-child:after,
.add-role-popup .add-user-blk .radio-row .accordion-body .row:last-child:after,
.edit-user-popup .add-user-blk .radio-row .accordion-body .row:last-child:after,
.edit-role-popup
  .add-user-blk
  .radio-row
  .accordion-body
  .row:last-child:after {
  display: none;
}
.add-user-popup .add-user-blk .radio-row .accordion-body .row:after,
.add-role-popup .add-user-blk .radio-row .accordion-body .row:after,
.edit-user-popup .add-user-blk .radio-row .accordion-body .row:after,
.edit-role-popup .add-user-blk .radio-row .accordion-body .row:after {
  content: "";
  border-bottom: 1px solid #ccc;
  position: absolute;
  border-bottom: 1px solid #ccc;
  left: 47px;
  right: 47px;
  bottom: 0;
}
.add-user-popup .add-user-blk .radio-row .accordion-body .row .form-field,
.add-role-popup .add-user-blk .radio-row .accordion-body .row .form-field,
.edit-user-popup .add-user-blk .radio-row .accordion-body .row .form-field,
.edit-role-popup .add-user-blk .radio-row .accordion-body .row .form-field {
  margin-bottom: 0;
}
.add-user-popup .add-user-blk .radio-row .accordion-button,
.add-role-popup .add-user-blk .radio-row .accordion-button,
.edit-user-popup .add-user-blk .radio-row .accordion-button,
.edit-role-popup .add-user-blk .radio-row .accordion-button {
  padding-right: 0;
  font-size: 13px;
  line-height: 158%;
  font-weight: 600;
  letter-spacing: 0.014em;
  color: #464646;
  padding-left: 35px;
  cursor: text;
}
.add-user-popup .add-user-blk .form-field-phone .custom-select,
.add-role-popup .add-user-blk .form-field-phone .custom-select,
.edit-user-popup .add-user-blk .form-field-phone .custom-select,
.edit-role-popup .add-user-blk .form-field-phone .custom-select {
  width: 24%;
  float: left;
}
.add-user-popup .add-user-blk .form-field-phone .custom-select.disabled,
.add-role-popup .add-user-blk .form-field-phone .custom-select.disabled,
.edit-user-popup .add-user-blk .form-field-phone .custom-select.disabled,
.edit-role-popup .add-user-blk .form-field-phone .custom-select.disabled {
  pointer-events: none;
  width: 8%;
}
.add-user-popup
  .add-user-blk
  .form-field-phone
  .custom-select.disabled
  .select-selected,
.add-role-popup
  .add-user-blk
  .form-field-phone
  .custom-select.disabled
  .select-selected,
.edit-user-popup
  .add-user-blk
  .form-field-phone
  .custom-select.disabled
  .select-selected,
.edit-role-popup
  .add-user-blk
  .form-field-phone
  .custom-select.disabled
  .select-selected {
  color: #464646;
  border-bottom: 1px solid #ccc;
}
.add-user-popup
  .add-user-blk
  .form-field-phone
  .custom-select.disabled
  .select-selected:after,
.add-role-popup
  .add-user-blk
  .form-field-phone
  .custom-select.disabled
  .select-selected:after,
.edit-user-popup
  .add-user-blk
  .form-field-phone
  .custom-select.disabled
  .select-selected:after,
.edit-role-popup
  .add-user-blk
  .form-field-phone
  .custom-select.disabled
  .select-selected:after {
  display: none;
}
.add-user-popup .add-user-blk .form-field-phone input,
.add-role-popup .add-user-blk .form-field-phone input,
.edit-user-popup .add-user-blk .form-field-phone input,
.edit-role-popup .add-user-blk .form-field-phone input {
  width: 92%;
  margin-left: 0%;
  margin-top: 0.5px;
}
.add-user-popup .add-user-blk .textarea-field label span,
.add-role-popup .add-user-blk .textarea-field label span,
.edit-user-popup .add-user-blk .textarea-field label span,
.edit-role-popup .add-user-blk .textarea-field label span {
  text-transform: none;
}
.add-user-popup .add-user-blk .submit-row,
.add-role-popup .add-user-blk .submit-row,
.edit-user-popup .add-user-blk .submit-row,
.edit-role-popup .add-user-blk .submit-row {
  position: fixed;
  bottom: 0;
  box-shadow: 0px -1px 14px rgba(172, 172, 172, 0.25);
  background-color: #fff;
  width: 480px;
  right: -480px;
  transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
}
.add-user-popup .add-user-blk .submit-row .form-field,
.add-role-popup .add-user-blk .submit-row .form-field,
.edit-user-popup .add-user-blk .submit-row .form-field,
.edit-role-popup .add-user-blk .submit-row .form-field {
  margin-bottom: 0;
  padding: 20px;
  overflow: hidden;
}
.add-user-popup .add-user-blk .submit-row .form-field a:first-child,
.add-role-popup .add-user-blk .submit-row .form-field a:first-child,
.edit-user-popup .add-user-blk .submit-row .form-field a:first-child,
.edit-role-popup .add-user-blk .submit-row .form-field a:first-child {
  float: left;
}
.add-user-popup .add-user-blk .submit-row .form-field a:last-child,
.add-role-popup .add-user-blk .submit-row .form-field a:last-child,
.edit-user-popup .add-user-blk .submit-row .form-field a:last-child,
.edit-role-popup .add-user-blk .submit-row .form-field a:last-child {
  float: right;
}
.add-user-popup .permission-accordion .accordion-collapse,
.add-role-popup .permission-accordion .accordion-collapse,
.edit-user-popup .permission-accordion .accordion-collapse,
.edit-role-popup .permission-accordion .accordion-collapse {
  display: none;
}
.add-user-popup .permission-accordion .accordion-button,
.add-role-popup .permission-accordion .accordion-button,
.edit-user-popup .permission-accordion .accordion-button,
.edit-role-popup .permission-accordion .accordion-button {
  padding-left: 16px !important;
}
.add-user-popup .add-user-upload,
.add-role-popup .add-user-upload,
.edit-user-popup .add-user-upload,
.edit-role-popup .add-user-upload {
  position: relative;
  margin: 23px 0 21px;
}
.add-user-popup .add-user-upload label,
.add-role-popup .add-user-upload label,
.edit-user-popup .add-user-upload label,
.edit-role-popup .add-user-upload label {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.014em;
  color: #9e1c2c;
  position: absolute;
  right: 52px;
  bottom: 0;
  cursor: pointer;
  text-transform: none;
}
.add-user-popup .add-user-upload input,
.add-role-popup .add-user-upload input,
.edit-user-popup .add-user-upload input,
.edit-role-popup .add-user-upload input {
  display: none;
}
.form-field-radio > input {
  display: none;
}
.form-field-radio label {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #a1555f;
  position: relative;
  cursor: pointer;
  margin: 0 auto;
}
.form-field-radio .form-field-radio-active:after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #a1555f;
  position: absolute;
  border-radius: 50%;
  top: 2px;
  left: 2px;
}
.add-role-popup .add-user-blk,
.edit-role-popup .add-user-blk {
  width: 720px;
  right: -720px;
}
.add-role-popup .add-user-blk .submit-row,
.edit-role-popup .add-user-blk .submit-row {
  width: 720px;
  right: -720px;
}
.c-o-p .user-detail > div {
  padding-top: 26px;
}
.c-o-p .l-c-block {
  min-height: 591px;
}
.c-o-p .f-block-1 h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-o-p .f-block-1 h1 span {
  display: inline-block;
}
.c-o-p .f-block-2 .form-field {
  margin-bottom: 36px;
}
.c-o-p .f-block-2 .form-field span {
  color: #9e1c2c;
}
.c-o-p .f-block-2 input {
  border: none;
  border-bottom: 1px solid #cccccc;
  width: 100%;
  height: 35px;
  font-weight: 600;
  font-size: 16px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #464646;
}
.c-o-p .f-block-2 input:focus {
  border-color: #9e1c2c !important;
}
.c-o-p .f-block-2 input.has-val {
  border-color: #acacac !important;
}
.c-o-p .f-block-2 ::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.014em;
  color: #c4c4c4;
}
.c-o-p .f-block-2 :-ms-input-placeholder {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.014em;
  color: #c4c4c4;
}
.c-o-p .f-block-2 ::placeholder {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.014em;
  color: #c4c4c4;
}
.create-opportunity-page .row-1 {
  padding-bottom: 16px;
}
.create-opportunity-page .main-section .center-container {
  padding-left: 96px;
  padding-right: 32px;
}
.create-opportunity-page .side-bar {
  width: 64px;
  overflow: hidden;
  transition: 0.25s all ease-in-out;
  -webkit-transition: 0.25s all ease-in-out;
  -moz-transition: 0.25s all ease-in-out;
  background: #ffffff;
  box-shadow: 4px 0 4px rgba(0, 0, 0, 0.05);
  z-index: 11;
}
.create-opportunity-page .side-bar:hover {
  width: 192px;
}
.create-opportunity-page .side-bar:hover ul {
  padding-left: 32px;
}
.create-opportunity-page .side-bar:hover ul li a img {
  margin-right: 10px;
}
.create-opportunity-page .side-bar:hover ul li ul li {
  padding-left: 7px;
}
.create-opportunity-page .side-bar ul {
  padding-left: 23px;
  transition: 0.25s all ease-in-out;
  -webkit-transition: 0.25s all ease-in-out;
  -moz-transition: 0.25s all ease-in-out;
}
.create-opportunity-page .side-bar ul li a img {
  margin-right: 30px;
  transition: 0.25s all ease-in-out;
  -webkit-transition: 0.25s all ease-in-out;
  -moz-transition: 0.25s all ease-in-out;
}
.create-opportunity-page .side-bar ul li ul li {
  padding-left: 30px;
  transition: 0.25s all ease-in-out;
  -webkit-transition: 0.25s all ease-in-out;
  -moz-transition: 0.25s all ease-in-out;
}
.create-opportunity-page .side-bar ul li ul li a {
  white-space: nowrap;
}
.create-opportunity-page .user-detail {
  background: #ffffff;
  box-shadow: 0 2px 14px rgba(172, 172, 172, 0.25);
  border-radius: 24px;
  padding: 28px;
  min-height: 140px;
}
.create-opportunity-page .user-detail > a {
  float: left;
  display: inline-block;
  margin-right: 30px;
  margin-top: 10px;
}
.create-opportunity-page .user-detail > div {
  display: table;
}
.create-opportunity-page .user-detail > div a {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.024em;
  color: #717171;
  margin-bottom: 5px;
  display: inherit;
}
.create-opportunity-page .user-detail > div a.email span {
  text-decoration: underline;
}
.create-opportunity-page .user-detail > div a img {
  margin-right: 10px;
}
.create-opportunity-page .user-detail > div a:last-child {
  margin-bottom: 0;
}
.l-c-block {
  background: #ffffff;
  box-shadow: 0 2px 14px rgba(172, 172, 172, 0.25);
  border-radius: 24px;
  padding: 16px 32px 32px 32px;
  margin: 16px 0;
}
.l-c-detail {
  overflow: hidden;
  box-shadow: none !important;
}
.l-c-detail,
.f-block {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 14px rgba(172, 172, 172, 0.25);
  margin: 16px 0;
}
.l-c-detail h6,
.f-block h6 {
  font-size: 12px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #717171;
  margin-bottom: 0;
}
.l-c-detail p,
.f-block p {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.024em;
  color: #464646;
  margin-bottom: 20px;
}
.l-c-detail .accordion-button,
.l-c-detail h2,
.f-block .accordion-button,
.f-block h2 {
  background-color: transparent !important;
  box-shadow: none;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #191c1f !important;
  box-shadow: none !important;
}
.l-c-detail .accordion-button:focus,
.l-c-detail h2:focus,
.f-block .accordion-button:focus,
.f-block h2:focus {
  outline: none !important;
  box-shadow: none !important;
}
.l-c-detail .accordion-button:after,
.l-c-detail h2:after,
.f-block .accordion-button:after,
.f-block h2:after {
  background-image: url("../img/down-arrow.svg") !important;
  background-position: center !important;
  width: 15px;
  height: 15px;
  background-size: contain;
}
.l-c-detail .accordion-item,
.f-block .accordion-item {
  border: none;
  background-color: #f9f9f9;
}
.l-c-detail .accordion-item .accordion-body,
.f-block .accordion-item .accordion-body {
  padding-bottom: 0;
}
.f-block-col {
  margin-bottom: 16px;
}
.f-block {
  margin-top: 0;
  padding: 28px 0;
  height: 100%;
  position: relative;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
}
.f-block h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 156%;
  color: #949494;
  text-transform: none;
  display: table;
  margin: 0 auto;
}
.f-block h1 strong {
  color: #464646;
}
.f-block h1 img {
  width: 41px;
  margin-right: 20px;
}
.f-block .f-block-1 {
  border-bottom: 1.5px solid #e7e7e7;
  padding: 0 28px 32px;
}
.f-block .f-block-2 {
  padding: 28px 28px 0;
}
.f-block .f-block-2 h6 span {
  color: #9e1c2c;
}
.f-block .f-block-2 h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #464646 !important;
  margin-bottom: 20px;
}
.f-block .f-block-2 h2 a {
  float: right;
}
.f-block .f-block-2 h3 {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #464646 !important;
  font-weight: 400;
  margin-bottom: 20px;
}
.f-block .f-block-2 .form-field-radio {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.011em;
  color: #464646;
  margin-right: 10px;
  margin-top: 10px;
}
.f-block .f-block-2 .form-field-radio label {
  margin-right: 5px;
}
.f-block .f-block-2 .select-selected {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.024em;
  color: #c4c4c4;
  margin-bottom: 20px;
}
.f-block .f-block-2 .select-selected:after {
  top: 15px;
}
.f-block .f-block-2 .submit-row {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 26px 28px;
  margin: 0;
  background: #ffffff;
  box-shadow: 0 -1px 14px rgba(172, 172, 172, 0.25);
  border-radius: 0 0 24px 24px;
}
.f-block .f-block-2 .submit-row h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.014em;
  color: #9e1c2c;
  display: flex;
  align-items: center;
  margin: 12px 0 0;
}
.f-block .f-block-2 .submit-row h4 img {
  margin-right: 6px;
}
.f-block .f-block-2 .submit-row .col-md-8 {
  text-align: right;
}
.f-block .f-block-2 .submit-row .col-md-8 a {
  text-align: center;
}
.f-block .f-block-2 .submit-row .col-md-8 a:last-child {
  margin-left: 20px;
}
.t-block .t-block-1 {
  background: #ffffff;
  box-shadow: 0 2px 14px rgba(172, 172, 172, 0.25);
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;
  margin-bottom: 16px;
}
.t-block .t-block-1 p {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #717171;
}
.t-block .t-block-2 {
  position: relative;
  margin-bottom: 15px;
  border-radius: 24px;
}
.t-block .t-block-2 .t-block-2-1 {
  overflow: auto;
  padding-bottom: 120px;
  padding-top: 40px;
  background: #ffffff;
  box-shadow: 0 2px 14px rgba(172, 172, 172, 0.25);
  border-radius: 24px;
  height: 300px;
}
.t-block .t-block-2 .nav-tabs {
  border: none;
  justify-content: center;
  border-bottom: 2px solid #f7f7f7;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  z-index: 11;
}
.t-block .t-block-2 .nav-tabs button {
  border: none;
  background: transparent;
  font-weight: normal;
  font-size: 14px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #000000;
  position: relative;
}
.t-block .t-block-2 .nav-tabs button.active {
  color: #9e1c2c;
}
.t-block .t-block-2 .nav-tabs button.active:after {
  content: "";
  height: 2px;
  width: 40%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  background-color: #9e1c2c;
}
.t-block .t-block-2 .n-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.t-block .t-block-2 .n-list li {
  border-bottom: 2px solid #f7f7f7;
  padding: 21px 24px 5px;
}
.t-block .t-block-2 .n-list li h5 {
  font-weight: bold;
  font-size: 12px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #717171;
  margin-bottom: 0;
  position: relative;
}
.t-block .t-block-2 .n-list li h5 a {
  position: absolute;
  top: 4px;
}
.t-block .t-block-2 .n-list li h5 .eye {
  right: 20px;
}
.t-block .t-block-2 .n-list li h5 .delete {
  right: 0;
}
.t-block .t-block-2 .n-list li h6 {
  font-weight: 500;
  font-size: 10px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #717171;
}
.t-block .t-block-2 .n-list li p {
  font-weight: normal;
  font-size: 12px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #464646;
}
.t-block .t-block-2 .submit-row {
  position: absolute;
  bottom: -12px;
  left: 0;
  right: 0;
  padding: 20px 10px;
  margin: 0;
  background: #ffffff;
  box-shadow: 0 -1px 14px rgba(172, 172, 172, 0.25);
  border-radius: 0 0 24px 24px;
}
.t-block .t-block-2 .submit-row div[contenteditable] {
  position: relative;
  min-height: 27px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.014em;
  color: #464646;
}
.t-block .t-block-2 .submit-row div[contenteditable]:before {
  content: "Type comment";
  position: absolute;
  top: 5px;
  left: 5px;
  color: #c4c4c4;
}
.t-block .t-block-2 .submit-row div[contenteditable].active-edit:before {
  display: none;
}
.t-block .t-block-2 .submit-row div[contenteditable]:focus {
  border-color: #9e1c2c;
  outline: none;
  box-shadow: none;
}
.t-block .t-block-2 .submit-row input {
  height: 27px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
  text-indent: 5px;
  padding-bottom: 4px;
}
.t-block .t-block-2 .submit-row ::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.014em;
  color: #c4c4c4;
}
.t-block .t-block-2 .submit-row :-ms-input-placeholder {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.014em;
  color: #c4c4c4;
}
.t-block .t-block-2 .submit-row ::placeholder {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.014em;
  color: #c4c4c4;
}
.t-block .t-block-2 .submit-row a {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.011em;
  color: #9e1c2c;
}
.t-block .t-block-2 .submit-row a:last-child {
  float: right;
}
.add-opportunity-btn {
  position: relative;
  bottom: 12px;
}
.main-section .center-container {
  padding: 100px 48px 0 241px;
}
.main-section .dataTables_wrapper {
  margin-top: 58px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  background: #ffffff;
  box-shadow: 0 4px 14px rgba(172, 172, 172, 0.25);
  border-radius: 24px;
}
.main-section .dataTables_wrapper .dataTables_paginate {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
}
.main-section .dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0 !important;
  border: none !important;
  background: transparent !important;
  color: #635959 !important;
  font-weight: normal;
  font-size: 12px;
  line-height: 158%;
  letter-spacing: 0.014em;
}
.main-section
  .dataTables_wrapper
  .dataTables_paginate
  .paginate_button.current {
  color: #635959 !important;
  font-weight: 700;
}
.main-section .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: #635959 !important;
}
.main-section .dataTables_wrapper .dataTables_paginate .paginate_button:active {
  box-shadow: none;
}
.main-section
  .dataTables_wrapper
  .dataTables_paginate
  .paginate_button.previous {
  background-image: url("../img/left-arrow.svg") !important;
  height: 11px;
  width: 4px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  position: relative;
  top: 2px;
}
.main-section .dataTables_wrapper .dataTables_paginate .paginate_button.next {
  background-image: url("../img/right-arrow.svg") !important;
  height: 11px;
  width: 4px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  position: relative;
  top: 2px;
}
.main-section .dataTables_wrapper .due-in span {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.011em;
  display: inline-block;
  padding: 2px 5px;
  border-radius: 4px;
}
.main-section .dataTables_wrapper .due-in span.yellow {
  color: #eba945;
  border: 1px solid #eba945;
}
.main-section .dataTables_wrapper .due-in span.grey {
  color: #acacac;
  border: 1px solid #acacac;
}
.main-section .dataTables_wrapper .due-in span.red {
  color: #eb4545;
  border: 1px solid #eb4545;
}
.main-section .dataTables_wrapper .customer strong {
  font-weight: 600;
  font-size: 14px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #464646;
  display: block;
}
.main-section .dataTables_wrapper .customer span {
  font-weight: 500;
  font-size: 10px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #949494;
}
.main-section .dataTables_wrapper .last-updated h3 {
  margin-bottom: 0;
}
.main-section .dataTables_wrapper .last-updated h3 span {
  float: right;
}
.main-section .dataTables_wrapper .last-updated > span {
  font-weight: 500;
  font-size: 10px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #949494;
}
.main-section .dataTables_wrapper .dataTables_info {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-weight: normal;
  font-size: 12px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #635959;
}
.main-section .dataTables_wrapper .dataTables_length {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.main-section .dataTables_wrapper .dataTables_length .select-selected {
  position: absolute;
  left: 90px;
  width: 50px;
  bottom: 0;
  border: none;
  background: none;
  font-size: 12px;
  line-height: 158%;
  text-align: center;
  letter-spacing: 0.014em;
  color: #635959;
  font-weight: bold;
  padding: 0 20px 0 0;
}
.main-section .dataTables_wrapper .dataTables_length .select-selected:after {
  top: 7px;
  right: 4px;
  background-image: url("../img/down-icon-dark-grey.svg");
  width: 7px;
  height: 4px;
  background-position: center;
}
.main-section .dataTables_wrapper .dataTables_length .select-items {
  width: 200px;
  top: auto;
  bottom: 30px;
}
.main-section .dataTables_wrapper .dataTables_length select {
  border: none;
}
.main-section .dataTables_wrapper .dataTables_length label {
  font-weight: normal;
  font-size: 12px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #635959;
}
.main-section .dataTables_wrapper thead input {
  width: 100%;
}
.main-section .dataTables_wrapper table tr th.unselected:first-child:after {
  display: none !important;
}
.main-section .dataTables_wrapper table tr th.unselected:first-child:before {
  content: "-";
  color: #fff;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  line-height: 0;
  padding-bottom: 4px;
}
.main-section .dataTables_wrapper table tr th.select-checkbox.selected::after {
  content: "✓";
  font-size: 20px;
  margin-top: -19px;
  margin-left: -6px;
  text-align: center;
  text-shadow: 1px 1px #b0bed9, -1px -1px #b0bed9, 1px -1px #b0bed9,
    -1px 1px #b0bed9;
  top: 55% !important;
  display: block;
  position: absolute;
  left: 50%;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}
.main-section .dataTables_wrapper table tr th.select-checkbox:before {
  content: "";
  display: block !important;
  border: 2px solid #a1555f !important;
  width: 14px !important;
  height: 14px !important;
}
.main-section .dataTables_wrapper table tr th:first-child {
  position: relative;
}
.main-section .dataTables_wrapper table tr th:first-child:before {
  content: " ";
  margin-top: -6px;
  margin-left: -6px;
  border: 1px solid black;
  border-radius: 3px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}
.main-section .dataTables_wrapper table {
  border-bottom: none !important;
  margin-bottom: 16px !important;
}
.main-section .dataTables_wrapper table tbody tr:hover td {
  background-color: #f9f9f9 !important;
}
.main-section .dataTables_wrapper table tr {
  height: 72px;
}
.main-section .dataTables_wrapper table tr .select-checkbox {
  width: 15px;
}
.main-section .dataTables_wrapper table tr .select-checkbox input {
  display: none;
}
.main-section .dataTables_wrapper table tr .select-checkbox span {
  display: block;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 50% !important;
  left: 50%;
  margin-top: -6px;
  margin-left: -6px;
  z-index: 111;
}
.main-section .dataTables_wrapper table tr:last-child td {
  border-bottom: 2px solid #f7f7f7 !important;
}
.main-section .dataTables_wrapper table tr.selected .select-checkbox:after {
  display: none;
}
.main-section .dataTables_wrapper table tr .selected.select-checkbox:before {
  background-color: #a1555f;
}
.main-section .dataTables_wrapper table tr .selected.select-checkbox:after {
  display: block;
  content: "";
  background-image: url("../img/checkbox-icon.svg");
  margin-top: -6px;
  margin-left: -5px;
  background-repeat: no-repeat;
  background-size: 12px;
}
.main-section .dataTables_wrapper table tr td {
  font-weight: normal;
  font-size: 14px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #464646;
  padding-left: 18px;
  border-top: 2px solid #f7f7f7 !important;
  background-color: #ffffff !important;
}
.main-section .dataTables_wrapper table tr td.select-checkbox:before {
  top: 50% !important;
  border: 2px solid #a1555f !important;
  width: 14px !important;
  height: 14px !important;
}
.main-section .dataTables_wrapper table tr td.select-checkbox:after {
  top: 55% !important;
}
.main-section .dataTables_wrapper table tr td .name-td {
  font-weight: 600;
  display: flex;
  align-items: center;
}
.main-section .dataTables_wrapper table tr td .name-td img {
  margin-right: 10px;
}
.main-section .dataTables_wrapper table tr td strong {
  font-weight: 600;
}
.main-section .dataTables_wrapper table tr td.action-td {
  width: 100px;
  text-align: right;
}
.main-section .dataTables_wrapper table tr td.action-td .dropdown {
  display: inline-block;
  margin-right: 20px;
}
.main-section .dataTables_wrapper table tr td.action-td .dropdown-toggle {
  width: 32px;
  height: 32px;
  text-align: center;
  padding-top: 4px;
  display: inline-block;
}
.main-section .dataTables_wrapper table tr td.action-td .dropdown-toggle:hover {
  background: #f6e9ea;
  border-radius: 8px;
}
.main-section .dataTables_wrapper table tr td.action-td .dropdown-toggle:after {
  display: none;
}
.main-section .dataTables_wrapper table tr td.action-td > a {
  display: inline-block;
}
.main-section .dataTables_wrapper table tr td.action-td > a:first-child {
  margin-right: 10px;
}
.main-section .dataTables_wrapper table tr th {
  font-weight: normal !important;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.035em;
  text-transform: uppercase;
  color: #464646;
  border-bottom: none !important;
  background-position: -2px;
}
.main-section .dataTables_wrapper table tr th input {
  width: auto;
}
.main-section .dataTables_wrapper table tr th.selected.select-checkbox:before {
  background-color: #a1555f;
}
.main-section .dataTables_wrapper table tr th.selected.select-checkbox:after {
  content: "";
  background-image: url("../img/checkbox-icon.svg");
  margin-top: -6px;
  margin-left: -5px;
  background-repeat: no-repeat;
  background-size: 12px;
}
.main-section .dataTables_wrapper table tr th:before {
  display: none !important;
}
.main-section .dataTables_wrapper table tr th.sorting_asc {
  background-image: url("../img/up-arrow-sharp.svg") !important;
}
.main-section .dataTables_wrapper table tr th.sorting_desc {
  background-image: url("../img/down-arrow-sharp.svg") !important;
}
.main-section .dataTables_wrapper table tr th.sorting {
  background-image: none;
}
.main-section .dataTables_wrapper table tr th.sorting:hover {
  background-image: url("../img/up-arrow-sharp-grey.svg");
}
.main-section .dataTables_wrapper .dataTables_filter {
  margin-bottom: 20px;
  position: absolute;
  top: -62px;
  right: 355px;
}
.main-section .dataTables_wrapper .dataTables_filter input {
  background-color: #f1f1f1 !important;
  border-radius: 50px !important;
  border: none !important;
  padding: 0;
  width: 219px;
  height: 36px;
  text-indent: 15px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: 93% 50%;
  font-weight: 600;
  font-size: 16px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #464646;
}
.main-section
  .dataTables_wrapper
  .dataTables_filter
  ::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #b3b2b2;
}
.main-section .dataTables_wrapper .dataTables_filter :-ms-input-placeholder {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #b3b2b2;
}
.main-section .dataTables_wrapper .dataTables_filter ::placeholder {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #b3b2b2;
}
.main-section .data-table-filters .filter-blk {
  display: inline-flex;
  padding-top: 13px;
}
.main-section .data-table-filters .filter-blk h3 {
  display: inline-block;
  float: left;
  margin-bottom: 0;
  text-transform: none;
  font-size: 12px;
  line-height: 158%;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.014em;
  color: #949494;
  margin-right: 15px;
}
.main-section .data-table-filters .filter-blk .select-selected {
  border: none;
  background: none;
  font-size: 12px;
  line-height: 158%;
  text-align: center;
  letter-spacing: 0.014em;
  color: #949494;
  font-weight: bold;
  padding: 0 20px 0 0;
}
.main-section .data-table-filters .filter-blk .select-selected:after {
  top: 7px;
  right: 4px;
  background-image: url("../img/down-icon-grey.svg");
  width: 7px;
  height: 4px;
  background-position: center;
}
.main-section .data-table-filters .filter-blk .select-items {
  width: 200px;
}
.main-section .data-table-filters > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-section .data-table-filters > ul:last-child {
  float: right;
  text-align: right;
}
.main-section .data-table-filters > ul:last-child li {
  margin-right: 22px;
}
.main-section .data-table-filters > ul li {
  float: left;
  margin-right: 38px;
}
.main-section .data-table-filters > ul li:last-child {
  margin-right: 0;
}
.main-section .data-table-filters > ul li .secondary-btn-icon:after {
  background: none !important;
  height: auto;
  width: auto;
  position: static;
  margin-left: 5px;
}
#confirm-modal .modal-content {
  background: #ffffff;
  box-shadow: 0 2px 14px rgba(172, 172, 172, 0.25);
  border-radius: 24px;
  overflow: hidden;
}
#confirm-modal .btn-close {
  position: absolute;
  right: 20px;
  top: 20px;
  opacity: 1;
  background: none;
  display: block;
  width: 25px;
  height: 25px;
  padding-top: 7px;
}
#confirm-modal .btn-close:hover {
  background: #f6e9ea;
  border-radius: 12px;
}
#confirm-modal .btn-close:focus {
  outline: none;
  box-shadow: none;
}
#confirm-modal .confirm-blk {
  text-align: center;
  max-width: 350px;
  margin: 30px auto 0;
}
#confirm-modal .confirm-blk h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #191c1f;
  margin: 2px 0;
}
#confirm-modal .confirm-blk p {
  font-size: 12px;
  line-height: 158%;
  text-align: center;
  letter-spacing: 0.014em;
  color: #717171;
}
#confirm-modal .modal-footer {
  background: #ffffff;
  box-shadow: 0px -1px 14px rgba(172, 172, 172, 0.25);
  justify-content: center;
  border: none;
  padding: 20px 0;
}
#confirm-modal .modal-footer button {
  margin: 0 10px;
}
.datepicker {
  padding: 15px !important;
}
.datepicker td,
.datepicker th {
  padding: 5px !important;
}
.datepicker td.day:hover,
.datepicker td.day:focus {
  background: #9e1c2c !important;
  color: #fff !important;
}
.datepicker td.day.active {
  background: #9e1c2c !important;
}
.time-form-field {
  position: relative;
}
.time-form-field input {
  width: 36px;
  border: none;
  border-bottom: 1px solid #cccccc;
  height: 35px;
  border-radius: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.024em;
  color: #464646;
  padding: 0;
}
.time-form-field input:focus {
  border-color: #9e1c2c !important;
  outline: none;
  box-shadow: none;
}
.time-form-field input.has-val {
  border-color: #acacac !important;
}
.time-form-field ::-webkit-input-placeholder {
  color: #c4c4c4;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}
.time-form-field :-ms-input-placeholder {
  color: #c4c4c4;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}
.time-form-field ::placeholder {
  color: #c4c4c4;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}
.time-form-field > div {
  position: absolute;
  left: 45px;
  top: 35px;
  display: flex;
}
.time-form-field > div a {
  font-weight: 500;
  font-size: 10px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #9e1c2c;
  border: 1px solid #9e1c2c;
  display: inline-block;
  padding: 3px;
}
.time-form-field > div a.active {
  background-color: #9e1c2c;
  color: #fff;
}
.time-form-field > div a:first-child {
  border-radius: 4px 0 0 4px;
}
.time-form-field > div a:last-child {
  border-radius: 0 4px 4px 0;
}
#schedule-modal h2 {
  font-weight: 500;
  font-size: 22px;
  line-height: 158%;
  letter-spacing: 0.014em;
  text-transform: uppercase;
  color: #191c1f;
}
#schedule-modal h6 {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.035em;
  color: #949494;
}
#schedule-modal .modal-content {
  background: #ffffff;
  box-shadow: 0 2px 14px rgba(172, 172, 172, 0.25);
  border-radius: 24px;
  overflow: hidden;
  padding: 15px 20px;
}
#schedule-modal .modal-body {
  padding-bottom: 40px;
}
#schedule-modal .m-block {
  margin-bottom: 30px;
  border-bottom: 1px solid #f7f7f7;
  padding-bottom: 10px;
}
#schedule-modal .m-block .form-field-radio {
  font-weight: 500;
  font-size: 16px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #717171;
  margin-bottom: 10px;
}
#schedule-modal .m-block .form-field-radio.active {
  color: #464646;
}
#schedule-modal .m-block .form-field-radio label {
  top: 3px;
}
#schedule-modal .m-block .form-field-radio .form-field {
  padding: 10px 0 10px 20px;
}
#schedule-modal .m-block .form-field-radio .form-field h6 {
  margin-bottom: 0;
}
#schedule-modal .m-block .form-field-radio .form-field.textarea-field {
  width: 80%;
}
#schedule-modal .m-block .form-field-radio .form-field.textarea-field h6 {
  font-size: 12px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #717171;
  margin-bottom: 3px;
}
#schedule-modal .m-block .form-field-radio .form-field.textarea-field h6 span {
  float: right;
  font-weight: 500;
  font-size: 10px;
  line-height: 158%;
  text-align: right;
  letter-spacing: 0.014em;
  color: #acacac;
}
#schedule-modal .m-block .form-field-radio .form-field textarea {
  border-radius: 4px;
  border: 1px solid #cccccc;
  width: 100%;
  min-height: 50px;
  text-indent: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 158%;
  letter-spacing: 0.014em;
  color: #464646;
  padding: 2px 10px 10px 2px;
}
#schedule-modal .m-block .form-field-radio .form-field textarea:focus {
  border-color: #9e1c2c !important;
  outline: none;
}
#schedule-modal .m-block .form-field-radio .form-field textarea.has-val {
  border-color: #acacac !important;
}
#schedule-modal .m-block .form-field-radio input {
  border: none;
  border-bottom: 1px solid #cccccc;
  width: 200px;
  height: 35px;
  border-radius: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.024em;
  color: #464646;
  padding: 0;
}
#schedule-modal .m-block .form-field-radio input:focus {
  border-color: #9e1c2c !important;
  outline: none;
  box-shadow: none;
}
#schedule-modal .m-block .form-field-radio input.has-val {
  border-color: #acacac !important;
}
#schedule-modal .m-block .form-field-radio ::-webkit-input-placeholder {
  color: #c4c4c4;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}
#schedule-modal .m-block .form-field-radio :-ms-input-placeholder {
  color: #c4c4c4;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}
#schedule-modal .m-block .form-field-radio ::placeholder {
  color: #c4c4c4;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}
#schedule-modal .input-group {
  width: 160px;
}
#schedule-modal .input-group .input-group-addon {
  position: absolute;
  top: 11px;
  right: 5px;
  z-index: 11;
}
#schedule-modal .input-group input {
  border: none;
  border-bottom: 1px solid #cccccc;
  width: 100%;
  height: 35px;
  border-radius: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.024em;
  color: #464646;
  padding: 0;
}
#schedule-modal .input-group input:focus {
  border-color: #9e1c2c !important;
  outline: none;
  box-shadow: none;
}
#schedule-modal .input-group input.has-val {
  border-color: #acacac !important;
}
#schedule-modal .input-group ::-webkit-input-placeholder {
  color: #c4c4c4;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}
#schedule-modal .input-group :-ms-input-placeholder {
  color: #c4c4c4;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}
#schedule-modal .input-group ::placeholder {
  color: #c4c4c4;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}
#schedule-modal .modal-header {
  position: relative;
  flex-flow: wrap;
  border-bottom: none;
}
#schedule-modal .modal-header .btn-close {
  position: absolute;
  right: 20px;
  top: 20px;
  opacity: 1;
  background: none;
  display: block;
  width: 25px;
  height: 25px;
  padding-top: 7px;
}
#schedule-modal .modal-header .btn-close:hover {
  background: #f6e9ea;
  border-radius: 12px;
}
#schedule-modal .modal-header .btn-close:focus {
  outline: none;
  box-shadow: none;
}
#schedule-modal .modal-header p {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.024em;
  background: #f5faf3;
  border-radius: 100px;
  padding: 8px 20px;
  width: 100%;
  margin: 15px auto;
  text-align: center;
}
#schedule-modal .modal-header p.success-msg {
  color: #3f991f;
}
#schedule-modal .confirm-blk {
  text-align: center;
  max-width: 350px;
  margin: 30px auto;
}
#schedule-modal .confirm-blk h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #191c1f;
  margin: 2px 0;
}
#schedule-modal .confirm-blk p {
  font-size: 12px;
  line-height: 158%;
  text-align: center;
  letter-spacing: 0.014em;
  color: #717171;
}
#schedule-modal .modal-footer {
  background: #ffffff;
  box-shadow: 0px -1px 14px rgba(172, 172, 172, 0.25);
  justify-content: flex-end;
  border: none;
  padding: 20px 10px 20px 0;
  margin: 0 -20px -16px;
}
#schedule-modal .modal-footer button {
  margin: 0 10px;
}
.login-page,
.otp-page {
  background-image: url("../img/login-bg.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100vh;
}
.login-page:before,
.otp-page:before {
  content: "";
  background-image: url("../img/x-bg-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 31%;
  width: 100%;
  height: 100vh;
  position: absolute;
  bottom: 0;
}
.login-page .go-back,
.otp-page .go-back {
  position: absolute;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.014em;
  color: #ffffff;
  top: 36px;
  left: 36px;
}
.login-page .go-back img,
.otp-page .go-back img {
  width: 10px;
  position: relative;
  bottom: 1px;
}
.login-page .otp-field,
.otp-page .otp-field {
  display: flex;
}
.login-page .otp-field input,
.otp-page .otp-field input {
  margin-right: 12px;
  border: 1.5px solid #e7e7e7;
  border-radius: 4px;
  height: 48px;
  width: 48px;
  text-align: center;
  font-size: 22px;
}
.login-page p,
.otp-page p {
  margin-bottom: 32px;
}
.login-page .resend-blk,
.otp-page .resend-blk {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.014em;
  color: #464646;
  margin-top: 18px;
  padding-bottom: 18px;
}
.login-page .resend-blk a,
.otp-page .resend-blk a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.014em;
  color: #9e1c2c;
  margin-left: 8px;
}
.login-blk {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}
.login-blk .form-block {
  background: #ffffff;
  box-shadow: 0px 2px 50px rgba(66, 3, 3, 0.25);
  border-radius: 24px;
  width: 478px;
  padding: 32px 48px 48px 48px;
}
.login-blk .form-block h1 {
  color: #191c1f;
  margin-bottom: 32px;
}
.login-blk .checkbox-c {
  padding-top: 26px;
  margin-bottom: 24px !important;
}
.login-blk .checkbox-c label {
  text-transform: none;
}
.login-blk .primary-btn {
  width: 100%;
}
.login-blk .logo {
  margin: 0 auto 32px;
  display: table;
  width: 301px;
}
@media only screen and (max-width: 575px) {
  header {
    padding: 18px 5px;
  }
  header .menu-burger {
    margin-right: 10px;
  }
  header .col-md-6:first-child {
    width: 60%;
  }
  header .col-md-6:last-child {
    width: 40%;
  }
  .side-bar {
    left: -192px;
    transition: 0.25s all ease-in-out;
    -webkit-transition: 0.25s all ease-in-out;
    -moz-transition: 0.25s all ease-in-out;
  }
  .main-section .center-container {
    padding-left: 0;
  }
}
